
<div class="list-content list-content_orthopedics-width">
  <div class="list-content-box">
    <div class="cataloge-box orthopedics-box">
      <div class="orthopedics-box__left-side">
        <div class="orthopedics-box__wrapper">
          <div class="orthopedics-box__static-pic"><img class="orthopedics-box__bottom-image" src="../img/abatments/orthopedics-left-side-pic.png" alt=""/></div>
          <div class="orthopedics-box__main-pic"><span class="orthopedics-box_prev-text">Выберите<br/>абатмент</span><img class="cataloge-box__image orthopedics-box_image-width" src="../../img/abatments/dummy.png" alt=""/></div>
        </div>
        <div class="cataloge-box__product-info">
          <div class="cataloge-box__product-name-box">
            <p class="cataloge-box__product-name">AKN</p>
          </div>
          <div class="cataloge-box__product-description">
            <div class="cataloge-box__description-wrapper">
              <p class="cataloge-box__description-name">Эстетический абатмент</p>
            </div>
            <div class="cataloge-box__description-wrapper">
              <p class="cataloge-box__description-name">Цена:</p>
              <p class="cataloge-box__description-value cataloge-box__description-value_price">850</p>
              <p class="cataloge-box__hrn-cymbol">₴</p>
            </div>
          </div>
          <div class="cataloge-box__price-box">
            <div class="cataloge-box__quantity-box">
              <p class="cataloge-box__quantity-text">Количество</p>
              <div class="cataloge-box__quantity-wrapper">
                <div class="cataloge-box__quantity-button cataloge-box__quantity-button_minus">-</div>
                <p class="cataloge-box__numeric">0</p>
                <div class="cataloge-box__quantity-button cataloge-box__quantity-button_plus">+</div>
              </div>
            </div>
            <div class="cataloge-box__buy-box">               
              <div class="cataloge-box__buy-box-wrapper">
                <p class="cataloge-box__total-summ-text">Итого:</p>
                <div class="cataloge-box__total-summ-wrapper">
                  <p class="cataloge-box__total-summ-numeric cataloge-box__total-summ-numeric_result">0 </p>
                  <p class="cataloge-box__total-summ-numeric cataloge-box__total-summ-numeric_cymbol">₴</p>
                </div>
              </div>
              <div class="cataloge-box__buy-button">В корзину</div>
            </div>
          </div>
        </div>
      </div>
      <div class="orthopedics-box__right-side">
        <h3 class="orthopedics-box__headling-h3">Прямые абатменты</h3>
        <div class="orthopedics-box__abatments-box-wrapper orthopedics-box__abatments-box-wrapper_margin-bot-60">
          <div class="orthopedics-box__abatments-box orthopedics-box__abatments-box_w170 orthopedics-box__abatments-box_margin-r-30">
            <div class="orthopedics-box__sub-headling-wrapper">
              <div class="orthopedics-box__sub-headling-line"></div>
              <p class="orthopedics-box__sub-headling-text">ø 3.8</p>
              <div class="orthopedics-box__sub-headling-line"></div>
            </div>
            <div class="orthopedics-box__item-wrapper"> 
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/akn-small.png" data-src="../../../img/abatments/akn.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">AKN</p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/pln-380-small.png" data-src="../../../img/abatments/pln-380.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">PLN-380    </p>
              </div>
            </div>
          </div>
          <div class="orthopedics-box__abatments-box orthopedics-box__abatments-box_w360">
            <div class="orthopedics-box__sub-headling-wrapper">
              <div class="orthopedics-box__sub-headling-line"></div>
              <p class="orthopedics-box__sub-headling-text">ø 4.8</p>
              <div class="orthopedics-box__sub-headling-line"></div>
            </div>
            <div class="orthopedics-box__item-wrapper"> 
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/atr-01-small.png" data-src="../../../img/abatments/atr-01.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">ATR-01</p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/atr-02-small.png" data-src="../../../img/abatments/atr-02.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">ATR-02</p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/atr-03-small.png" data-src="../../../img/abatments/atr-03.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">ATR-03</p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/atr-04-small.png" data-src="../../../img/abatments/atr-04.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">ATR-04</p>
              </div>
            </div>
          </div>
        </div>
        <div class="orthopedics-box__abatments-box orthopedics-box__abatments-box_w360 orthopedics-box__abatments-box-wrapper_margin-bot-60">
          <div class="orthopedics-box__sub-headling-wrapper">
            <div class="orthopedics-box__sub-headling-line"></div>
            <p class="orthopedics-box__sub-headling-text">ø 5.5</p>
            <div class="orthopedics-box__sub-headling-line"></div>
          </div>
          <div class="orthopedics-box__item-wrapper"> 
            <div class="orthopedics-box__item">
              <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/atw-5515-small.png" data-src="../../../img/abatments/atw-5515.png" alt=""/></div>
              <p class="orthopedics-box__small-abatment-name">ATW-5515</p>
            </div>
            <div class="orthopedics-box__item">
              <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/atw-5530-small.png" data-src="../../../img/abatments/atw-5530.png" alt=""/></div>
              <p class="orthopedics-box__small-abatment-name">ATW-5530</p>
            </div>
            <div class="orthopedics-box__item">
              <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/akw-small.png" data-src="../../../img/abatments/akw.png" alt=""/></div>
              <p class="orthopedics-box__small-abatment-name">AKW</p>
            </div>
            <div class="orthopedics-box__item">
              <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/plw-550-small.png" data-src="../../../img/abatments/plw-550.png" alt=""/></div>
              <p class="orthopedics-box__small-abatment-name">PLW-550</p>
            </div>
          </div>
        </div>
        <h3 class="orthopedics-box__headling-h3">Угловые абатменты</h3>
        <div class="orthopedics-box__abatments-box-wrapper orthopedics-box__abatments-box-wrapper_margin-bot-60">
          <div class="orthopedics-box__abatments-box orthopedics-box__abatments-box_w270 orthopedics-box__abatments-box_margin-r-30">
            <div class="orthopedics-box__sub-headling-wrapper">
              <div class="orthopedics-box__sub-headling-line"></div>
              <p class="orthopedics-box__sub-headling-text">15°</p>
              <div class="orthopedics-box__sub-headling-line"></div>
            </div>
            <div class="orthopedics-box__item-wrapper"> 
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/af-151-small.png" data-src="../../../img/abatments/af-151.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">AF-151</p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/af-153-small.png" data-src="../../../img/abatments/af-153.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">AF-153   </p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/afo-15-small.png" data-src="../../../img/abatments/afo-15.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">AFO-15   </p>
              </div>
            </div>
          </div>
          <div class="orthopedics-box__abatments-box orthopedics-box__abatments-box_w270">
            <div class="orthopedics-box__sub-headling-wrapper">
              <div class="orthopedics-box__sub-headling-line"></div>
              <p class="orthopedics-box__sub-headling-text">25°</p>
              <div class="orthopedics-box__sub-headling-line"></div>
            </div>
            <div class="orthopedics-box__item-wrapper"> 
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/af-251-small.png" data-src="../../../img/abatments/af-251.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">PLN-382</p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/af-253-small.png" data-src="../../../img/abatments/af-253.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">PLN-383</p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/afo-25-small.png" data-src="../../../img/abatments/afo-25.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">PLN-383</p>
              </div>
            </div>
          </div>
        </div>
        <h3 class="orthopedics-box__headling-h3">Шаровидные абатменты</h3>
        <div class="orthopedics-box__abatments-box-wrapper orthopedics-box__abatments-box-wrapper_margin-bot-60">
          <div class="orthopedics-box__abatments-box orthopedics-box__abatments-box_w270">
            <div class="orthopedics-box__sub-headling-wrapper">
              <div class="orthopedics-box__sub-headling-line"></div>
            </div>
            <div class="orthopedics-box__item-wrapper"> 
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/bl-02-small.png" data-src="../../../img/abatments/bl-02.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">BL-02</p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/bl-04-small.png" data-src="../../../img/abatments/bl-04.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">BL-04  </p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/m1-small.png" data-src="../../../img/abatments/m1.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">M1</p>
              </div>
            </div>
          </div>
        </div>
        <h3 class="orthopedics-box__headling-h3">С винтовой фиксацией</h3>
        <div class="orthopedics-box__abatments-box-wrapper orthopedics-box__abatments-box-wrapper_margin-bot-60">
          <div class="orthopedics-box__abatments-box orthopedics-box__abatments-box_w470 orthopedics-box__abatments-box_margin-r-30">
            <div class="orthopedics-box__sub-headling-wrapper">
              <div class="orthopedics-box__sub-headling-line"></div>
            </div>
            <div class="orthopedics-box__item-wrapper"> 
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/ms-01-small.png" data-src="../../../img/abatments/ms-1.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">MS-1</p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/ms-02-small.png" data-src="../../../img/abatments/ms-2.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">MS-2</p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/ms-03-small.png" data-src="../../../img/abatments/ms-3.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">MS-3</p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/ms-04-small.png" data-src="../../../img/abatments/ms-4.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">MS-4</p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/apm-small.png" data-src="../../../img/abatments/apm.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">APM    </p>
              </div>
            </div>
          </div>
        </div>
        <h3 class="orthopedics-box__headling-h3">Эстетические абатменты</h3>
        <div class="orthopedics-box__abatments-box-wrapper orthopedics-box__abatments-box-wrapper_margin-bot-60">
          <div class="orthopedics-box__abatments-box orthopedics-box__abatments-box_w370 orthopedics-box__abatments-box_margin-r-30">
            <div class="orthopedics-box__sub-headling-wrapper">
              <div class="orthopedics-box__sub-headling-line"></div>
            </div>
            <div class="orthopedics-box__item-wrapper"> 
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/saf-15-small.png" data-src="../../../img/abatments/saf-15.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">SAF-15</p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/aer-130-small.png" data-src="../../../img/abatments/aer-130.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">AER-130  </p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/aer-131-small.png" data-src="../../../img/abatments/aer-131.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">AER-131 </p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/azr-small.png" data-src="../../../img/abatments/azr.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">AZR  </p>
              </div>
            </div>
          </div>
        </div>
        <h3 class="orthopedics-box__headling-h3">Временные абатменты</h3>
        <div class="orthopedics-box__abatments-box-wrapper orthopedics-box__abatments-box-wrapper_margin-bot-60">
          <div class="orthopedics-box__abatments-box orthopedics-box__abatments-box_w70">
            <div class="orthopedics-box__sub-headling-wrapper">
              <div class="orthopedics-box__sub-headling-line"></div>
            </div>
            <div class="orthopedics-box__item-wrapper"> 
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../img/abatments/temp-r-small.png" data-src="../img/abatments/temp-r.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">TEMP-R</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-content-box">
    <div class="cataloge-box orthopedics-box">
      <div class="orthopedics-box__left-side">
        <div class="orthopedics-box__wrapper">
          <div class="orthopedics-box__static-pic"><img class="orthopedics-box__bottom-image" src="../img/abatments/orthopedics-left-side-pic.png" alt=""/></div>
          <div class="orthopedics-box__main-pic"><span class="orthopedics-box_prev-text">Выберите<br/>абатмент</span><img class="cataloge-box__image orthopedics-box_image-width" src="../../img/abatments/dummy.png" alt=""/></div>
        </div>
        <div class="cataloge-box__product-info">
          <div class="cataloge-box__product-name-box">
            <p class="cataloge-box__product-name">AKN</p>
          </div>
          <div class="cataloge-box__product-description">
            <div class="cataloge-box__description-wrapper">
              <p class="cataloge-box__description-name">Эстетический абатмент</p>
            </div>
            <div class="cataloge-box__description-wrapper">
              <p class="cataloge-box__description-name">Цена:</p>
              <p class="cataloge-box__description-value cataloge-box__description-value_price">850</p>
              <p class="cataloge-box__hrn-cymbol">₴</p>
            </div>
          </div>
          <div class="cataloge-box__price-box">
            <div class="cataloge-box__quantity-box">
              <p class="cataloge-box__quantity-text">Количество</p>
              <div class="cataloge-box__quantity-wrapper">
                <div class="cataloge-box__quantity-button cataloge-box__quantity-button_minus">-</div>
                <p class="cataloge-box__numeric">0</p>
                <div class="cataloge-box__quantity-button cataloge-box__quantity-button_plus">+</div>
              </div>
            </div>
            <div class="cataloge-box__buy-box">               
              <div class="cataloge-box__buy-box-wrapper">
                <p class="cataloge-box__total-summ-text">Итого:</p>
                <div class="cataloge-box__total-summ-wrapper">
                  <p class="cataloge-box__total-summ-numeric cataloge-box__total-summ-numeric_result">0 </p>
                  <p class="cataloge-box__total-summ-numeric cataloge-box__total-summ-numeric_cymbol">₴</p>
                </div>
              </div>
              <div class="cataloge-box__buy-button">В корзину</div>
            </div>
          </div>
        </div>
      </div>
      <div class="orthopedics-box__right-side">
        <h3 class="orthopedics-box__headling-h3">Прямые абатменты</h3>
        <div class="orthopedics-box__abatments-box-wrapper orthopedics-box__abatments-box-wrapper_margin-bot-60">
          <div class="orthopedics-box__abatments-box orthopedics-box__abatments-box_w170 orthopedics-box__abatments-box_margin-r-30">
            <div class="orthopedics-box__sub-headling-wrapper">
              <div class="orthopedics-box__sub-headling-line"></div>
              <p class="orthopedics-box__sub-headling-text">ø 3.8</p>
              <div class="orthopedics-box__sub-headling-line"></div>
            </div>
            <div class="orthopedics-box__item-wrapper"> 
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/akn-small.png" data-src="../../../img/abatments/akn.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">AKN</p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/pln-380-small.png" data-src="../../../img/abatments/pln-380.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">PLN-380    </p>
              </div>
            </div>
          </div>
          <div class="orthopedics-box__abatments-box orthopedics-box__abatments-box_w360">
            <div class="orthopedics-box__sub-headling-wrapper">
              <div class="orthopedics-box__sub-headling-line"></div>
              <p class="orthopedics-box__sub-headling-text">ø 4.8</p>
              <div class="orthopedics-box__sub-headling-line"></div>
            </div>
            <div class="orthopedics-box__item-wrapper"> 
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/atr-01-small.png" data-src="../../../img/abatments/atr-01.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">ATR-01</p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/atr-02-small.png" data-src="../../../img/abatments/atr-02.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">ATR-02</p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/atr-03-small.png" data-src="../../../img/abatments/atr-03.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">ATR-03</p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/atr-04-small.png" data-src="../../../img/abatments/atr-04.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">ATR-04</p>
              </div>
            </div>
          </div>
        </div>
        <div class="orthopedics-box__abatments-box orthopedics-box__abatments-box_w360 orthopedics-box__abatments-box-wrapper_margin-bot-60">
          <div class="orthopedics-box__sub-headling-wrapper">
            <div class="orthopedics-box__sub-headling-line"></div>
            <p class="orthopedics-box__sub-headling-text">ø 5.5</p>
            <div class="orthopedics-box__sub-headling-line"></div>
          </div>
          <div class="orthopedics-box__item-wrapper"> 
            <div class="orthopedics-box__item">
              <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/atw-5515-small.png" data-src="../../../img/abatments/atw-5515.png" alt=""/></div>
              <p class="orthopedics-box__small-abatment-name">ATW-5515</p>
            </div>
            <div class="orthopedics-box__item">
              <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/atw-5530-small.png" data-src="../../../img/abatments/atw-5530.png" alt=""/></div>
              <p class="orthopedics-box__small-abatment-name">ATW-5530</p>
            </div>
            <div class="orthopedics-box__item">
              <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/akw-small.png" data-src="../../../img/abatments/akw.png" alt=""/></div>
              <p class="orthopedics-box__small-abatment-name">AKW</p>
            </div>
            <div class="orthopedics-box__item">
              <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/plw-550-small.png" data-src="../../../img/abatments/plw-550.png" alt=""/></div>
              <p class="orthopedics-box__small-abatment-name">PLW-550</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-content-box">
    <div class="cataloge-box orthopedics-box">
      <div class="orthopedics-box__left-side">
        <div class="orthopedics-box__wrapper">
          <div class="orthopedics-box__static-pic"><img class="orthopedics-box__bottom-image" src="../img/abatments/orthopedics-left-side-pic.png" alt=""/></div>
          <div class="orthopedics-box__main-pic"><span class="orthopedics-box_prev-text">Выберите<br/>абатмент</span><img class="cataloge-box__image orthopedics-box_image-width" src="../img/abatments/dummy.png" alt=""/></div>
        </div>
        <div class="cataloge-box__product-info">
          <div class="cataloge-box__product-name-box">
            <p class="cataloge-box__product-name">TEMP-R</p>
          </div>
          <div class="cataloge-box__product-description">
            <div class="cataloge-box__description-wrapper">
              <p class="cataloge-box__description-name">Эстетический абатмент</p>
            </div>
            <div class="cataloge-box__description-wrapper">
              <p class="cataloge-box__description-name">Цена:</p>
              <p class="cataloge-box__description-value cataloge-box__description-value_price">850</p>
              <p class="cataloge-box__hrn-cymbol">₴</p>
            </div>
          </div>
          <div class="cataloge-box__price-box">
            <div class="cataloge-box__quantity-box">
              <p class="cataloge-box__quantity-text">Количество</p>
              <div class="cataloge-box__quantity-wrapper">
                <div class="cataloge-box__quantity-button cataloge-box__quantity-button_minus">-</div>
                <p class="cataloge-box__numeric">0</p>
                <div class="cataloge-box__quantity-button cataloge-box__quantity-button_plus">+</div>
              </div>
            </div>
            <div class="cataloge-box__buy-box">               
              <div class="cataloge-box__buy-box-wrapper">
                <p class="cataloge-box__total-summ-text">Итого:</p>
                <div class="cataloge-box__total-summ-wrapper">
                  <p class="cataloge-box__total-summ-numeric cataloge-box__total-summ-numeric_result">0 </p>
                  <p class="cataloge-box__total-summ-numeric cataloge-box__total-summ-numeric_cymbol">₴</p>
                </div>
              </div>
              <div class="cataloge-box__buy-button">В корзину</div>
            </div>
          </div>
        </div>
      </div>
      <div class="orthopedics-box__right-side">
        <h3 class="orthopedics-box__headling-h3">Временные абатменты</h3>
        <div class="orthopedics-box__abatments-box-wrapper orthopedics-box__abatments-box-wrapper_margin-bot-60">
          <div class="orthopedics-box__abatments-box orthopedics-box__abatments-box_w70">
            <div class="orthopedics-box__sub-headling-wrapper">
              <div class="orthopedics-box__sub-headling-line"></div>
            </div>
            <div class="orthopedics-box__item-wrapper"> 
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../img/abatments/temp-r-small.png" data-src="../img/abatments/temp-r.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">TEMP-R</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-content-box">
    <div class="cataloge-box orthopedics-box">
      <div class="orthopedics-box__left-side">
        <div class="orthopedics-box__wrapper">
          <div class="orthopedics-box__static-pic"><img class="orthopedics-box__bottom-image" src="../img/abatments/orthopedics-left-side-pic.png" alt=""/></div>
          <div class="orthopedics-box__main-pic"><span class="orthopedics-box_prev-text">Выберите<br/>абатмент</span><img class="cataloge-box__image orthopedics-box_image-width" src="../../../img/abatments/dummy.png" alt=""/></div>
        </div>
        <div class="cataloge-box__product-info">
          <div class="cataloge-box__product-name-box">
            <p class="cataloge-box__product-name">AF-151</p>
          </div>
          <div class="cataloge-box__product-description">
            <div class="cataloge-box__description-wrapper">
              <p class="cataloge-box__description-name">Эстетический абатмент</p>
            </div>
            <div class="cataloge-box__description-wrapper">
              <p class="cataloge-box__description-name">Цена:</p>
              <p class="cataloge-box__description-value cataloge-box__description-value_price">850</p>
              <p class="cataloge-box__hrn-cymbol">₴</p>
            </div>
          </div>
          <div class="cataloge-box__price-box">
            <div class="cataloge-box__quantity-box">
              <p class="cataloge-box__quantity-text">Количество</p>
              <div class="cataloge-box__quantity-wrapper">
                <div class="cataloge-box__quantity-button cataloge-box__quantity-button_minus">-</div>
                <p class="cataloge-box__numeric">0</p>
                <div class="cataloge-box__quantity-button cataloge-box__quantity-button_plus">+</div>
              </div>
            </div>
            <div class="cataloge-box__buy-box">               
              <div class="cataloge-box__buy-box-wrapper">
                <p class="cataloge-box__total-summ-text">Итого:</p>
                <div class="cataloge-box__total-summ-wrapper">
                  <p class="cataloge-box__total-summ-numeric cataloge-box__total-summ-numeric_result">0 </p>
                  <p class="cataloge-box__total-summ-numeric cataloge-box__total-summ-numeric_cymbol">₴</p>
                </div>
              </div>
              <div class="cataloge-box__buy-button">В корзину</div>
            </div>
          </div>
        </div>
      </div>
      <div class="orthopedics-box__right-side">
        <h3 class="orthopedics-box__headling-h3">Угловые абатменты</h3>
        <div class="orthopedics-box__abatments-box-wrapper orthopedics-box__abatments-box-wrapper_margin-bot-60">
          <div class="orthopedics-box__abatments-box orthopedics-box__abatments-box_w270 orthopedics-box__abatments-box_margin-r-30">
            <div class="orthopedics-box__sub-headling-wrapper">
              <div class="orthopedics-box__sub-headling-line"></div>
              <p class="orthopedics-box__sub-headling-text">15°</p>
              <div class="orthopedics-box__sub-headling-line"></div>
            </div>
            <div class="orthopedics-box__item-wrapper"> 
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/af-151-small.png" data-src="../../../img/abatments/af-151.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">AF-151</p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/af-153-small.png" data-src="../../../img/abatments/af-153.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">AF-153   </p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/afo-15-small.png" data-src="../../../img/abatments/afo-15.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">AFO-15   </p>
              </div>
            </div>
          </div>
          <div class="orthopedics-box__abatments-box orthopedics-box__abatments-box_w270">
            <div class="orthopedics-box__sub-headling-wrapper">
              <div class="orthopedics-box__sub-headling-line"></div>
              <p class="orthopedics-box__sub-headling-text">25°</p>
              <div class="orthopedics-box__sub-headling-line"></div>
            </div>
            <div class="orthopedics-box__item-wrapper"> 
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/af-251-small.png" data-src="../../../img/abatments/af-251.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">PLN-382</p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/af-253-small.png" data-src="../../../img/abatments/af-253.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">PLN-383</p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/afo-25-small.png" data-src="../../../img/abatments/afo-25.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">PLN-383</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-content-box">
    <div class="cataloge-box orthopedics-box">
      <div class="orthopedics-box__left-side">
        <div class="orthopedics-box__wrapper">
          <div class="orthopedics-box__static-pic"><img class="orthopedics-box__bottom-image" src="../img/abatments/orthopedics-left-side-pic.png" alt=""/></div>
          <div class="orthopedics-box__main-pic"><span class="orthopedics-box_prev-text">Выберите<br/>абатмент</span><img class="cataloge-box__image orthopedics-box_image-width" src="../../../img/abatments/dummy.png" alt=""/></div>
        </div>
        <div class="cataloge-box__product-info">
          <div class="cataloge-box__product-name-box">
            <p class="cataloge-box__product-name">BL-02</p>
          </div>
          <div class="cataloge-box__product-description">
            <div class="cataloge-box__description-wrapper">
              <p class="cataloge-box__description-name">Эстетический абатмент</p>
            </div>
            <div class="cataloge-box__description-wrapper">
              <p class="cataloge-box__description-name">Цена:</p>
              <p class="cataloge-box__description-value cataloge-box__description-value_price">850</p>
              <p class="cataloge-box__hrn-cymbol">₴</p>
            </div>
          </div>
          <div class="cataloge-box__price-box">
            <div class="cataloge-box__quantity-box">
              <p class="cataloge-box__quantity-text">Количество</p>
              <div class="cataloge-box__quantity-wrapper">
                <div class="cataloge-box__quantity-button cataloge-box__quantity-button_minus">-</div>
                <p class="cataloge-box__numeric">0</p>
                <div class="cataloge-box__quantity-button cataloge-box__quantity-button_plus">+</div>
              </div>
            </div>
            <div class="cataloge-box__buy-box">               
              <div class="cataloge-box__buy-box-wrapper">
                <p class="cataloge-box__total-summ-text">Итого:</p>
                <div class="cataloge-box__total-summ-wrapper">
                  <p class="cataloge-box__total-summ-numeric cataloge-box__total-summ-numeric_result">0 </p>
                  <p class="cataloge-box__total-summ-numeric cataloge-box__total-summ-numeric_cymbol">₴</p>
                </div>
              </div>
              <div class="cataloge-box__buy-button">В корзину</div>
            </div>
          </div>
        </div>
      </div>
      <div class="orthopedics-box__right-side">
        <h3 class="orthopedics-box__headling-h3">Шаровидные абатменты</h3>
        <div class="orthopedics-box__abatments-box-wrapper orthopedics-box__abatments-box-wrapper_margin-bot-60">
          <div class="orthopedics-box__abatments-box orthopedics-box__abatments-box_w270">
            <div class="orthopedics-box__sub-headling-wrapper">
              <div class="orthopedics-box__sub-headling-line"></div>
            </div>
            <div class="orthopedics-box__item-wrapper"> 
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/bl-02-small.png" data-src="../../../img/abatments/bl-02.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">BL-02</p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/bl-04-small.png" data-src="../../../img/abatments/bl-04.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">BL-04  </p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/m1-small.png" data-src="../../../img/abatments/m1.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">M1</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-content-box">
    <div class="cataloge-box orthopedics-box">
      <div class="orthopedics-box__left-side">
        <div class="orthopedics-box__wrapper">
          <div class="orthopedics-box__static-pic"><img class="orthopedics-box__bottom-image" src="../img/abatments/orthopedics-left-side-pic.png" alt=""/></div>
          <div class="orthopedics-box__main-pic"><span class="orthopedics-box_prev-text">Выберите<br/>абатмент</span><img class="cataloge-box__image orthopedics-box_image-width" src="../../img/abatments/dummy.png" alt=""/></div>
        </div>
        <div class="cataloge-box__product-info">
          <div class="cataloge-box__product-name-box">
            <p class="cataloge-box__product-name">SAF-15</p>
          </div>
          <div class="cataloge-box__product-description">
            <div class="cataloge-box__description-wrapper">
              <p class="cataloge-box__description-name">Эстетический абатмент</p>
            </div>
            <div class="cataloge-box__description-wrapper">
              <p class="cataloge-box__description-name">Цена:</p>
              <p class="cataloge-box__description-value cataloge-box__description-value_price">850</p>
              <p class="cataloge-box__hrn-cymbol">₴</p>
            </div>
          </div>
          <div class="cataloge-box__price-box">
            <div class="cataloge-box__quantity-box">
              <p class="cataloge-box__quantity-text">Количество</p>
              <div class="cataloge-box__quantity-wrapper">
                <div class="cataloge-box__quantity-button cataloge-box__quantity-button_minus">-</div>
                <p class="cataloge-box__numeric">0</p>
                <div class="cataloge-box__quantity-button cataloge-box__quantity-button_plus">+</div>
              </div>
            </div>
            <div class="cataloge-box__buy-box">               
              <div class="cataloge-box__buy-box-wrapper">
                <p class="cataloge-box__total-summ-text">Итого:</p>
                <div class="cataloge-box__total-summ-wrapper">
                  <p class="cataloge-box__total-summ-numeric cataloge-box__total-summ-numeric_result">0 </p>
                  <p class="cataloge-box__total-summ-numeric cataloge-box__total-summ-numeric_cymbol">₴</p>
                </div>
              </div>
              <div class="cataloge-box__buy-button">В корзину</div>
            </div>
          </div>
        </div>
      </div>
      <div class="orthopedics-box__right-side">
        <h3 class="orthopedics-box__headling-h3">Эстетические абатменты</h3>
        <div class="orthopedics-box__abatments-box-wrapper orthopedics-box__abatments-box-wrapper_margin-bot-60">
          <div class="orthopedics-box__abatments-box orthopedics-box__abatments-box_w370 orthopedics-box__abatments-box_margin-r-30">
            <div class="orthopedics-box__sub-headling-wrapper">
              <div class="orthopedics-box__sub-headling-line"></div>
            </div>
            <div class="orthopedics-box__item-wrapper"> 
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/saf-15-small.png" data-src="../../../img/abatments/saf-15.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">SAF-15</p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/aer-130-small.png" data-src="../../../img/abatments/aer-130.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">AER-130  </p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/aer-131-small.png" data-src="../../../img/abatments/aer-131.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">AER-131 </p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/azr-small.png" data-src="../../../img/abatments/azr.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">AZR  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-content-box">
    <div class="cataloge-box orthopedics-box">
      <div class="orthopedics-box__left-side">
        <div class="orthopedics-box__wrapper">
          <div class="orthopedics-box__static-pic"><img class="orthopedics-box__bottom-image" src="../img/abatments/orthopedics-left-side-pic.png" alt=""/></div>
          <div class="orthopedics-box__main-pic"><span class="orthopedics-box_prev-text">Выберите<br/>абатмент</span><img class="cataloge-box__image orthopedics-box_image-width" src="../../../img/abatments/dummy.png" alt=""/></div>
        </div>
        <div class="cataloge-box__product-info">
          <div class="cataloge-box__product-name-box">
            <p class="cataloge-box__product-name">MS-1</p>
          </div>
          <div class="cataloge-box__product-description">
            <div class="cataloge-box__description-wrapper">
              <p class="cataloge-box__description-name">Эстетический абатмент</p>
            </div>
            <div class="cataloge-box__description-wrapper">
              <p class="cataloge-box__description-name">Цена:</p>
              <p class="cataloge-box__description-value cataloge-box__description-value_price">850</p>
              <p class="cataloge-box__hrn-cymbol">₴</p>
            </div>
          </div>
          <div class="cataloge-box__price-box">
            <div class="cataloge-box__quantity-box">
              <p class="cataloge-box__quantity-text">Количество</p>
              <div class="cataloge-box__quantity-wrapper">
                <div class="cataloge-box__quantity-button cataloge-box__quantity-button_minus">-</div>
                <p class="cataloge-box__numeric">0</p>
                <div class="cataloge-box__quantity-button cataloge-box__quantity-button_plus">+</div>
              </div>
            </div>
            <div class="cataloge-box__buy-box">               
              <div class="cataloge-box__buy-box-wrapper">
                <p class="cataloge-box__total-summ-text">Итого:</p>
                <div class="cataloge-box__total-summ-wrapper">
                  <p class="cataloge-box__total-summ-numeric cataloge-box__total-summ-numeric_result">0 </p>
                  <p class="cataloge-box__total-summ-numeric cataloge-box__total-summ-numeric_cymbol">₴</p>
                </div>
              </div>
              <div class="cataloge-box__buy-button">В корзину</div>
            </div>
          </div>
        </div>
      </div>
      <div class="orthopedics-box__right-side">
        <h3 class="orthopedics-box__headling-h3">С винтовой фиксацией</h3>
        <div class="orthopedics-box__abatments-box-wrapper orthopedics-box__abatments-box-wrapper_margin-bot-60">
          <div class="orthopedics-box__abatments-box orthopedics-box__abatments-box_w470 orthopedics-box__abatments-box_margin-r-30">
            <div class="orthopedics-box__sub-headling-wrapper">
              <div class="orthopedics-box__sub-headling-line"></div>
            </div>
            <div class="orthopedics-box__item-wrapper"> 
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/ms-01-small.png" data-src="../../../img/abatments/ms-1.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">MS-1</p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/ms-02-small.png" data-src="../../../img/abatments/ms-2.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">MS-2</p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/ms-03-small.png" data-src="../../../img/abatments/ms-3.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">MS-3</p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/ms-04-small.png" data-src="../../../img/abatments/ms-4.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">MS-4</p>
              </div>
              <div class="orthopedics-box__item">
                <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/apm-small.png" data-src="../../../img/abatments/apm.png" alt=""/></div>
                <p class="orthopedics-box__small-abatment-name">APM    </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>