
<h3 class="orthopedics-box__headling-h3">Временные абатменты</h3>
<div class="orthopedics-box__abatments-box-wrapper orthopedics-box__abatments-box-wrapper_margin-bot-60">
  <div class="orthopedics-box__abatments-box orthopedics-box__abatments-box_w70">
    <div class="orthopedics-box__sub-headling-wrapper">
      <div class="orthopedics-box__sub-headling-line"></div>
    </div>
    <div class="orthopedics-box__item-wrapper"> 
      <div class="orthopedics-box__item">
        <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../img/abatments/temp-r-small.png" data-src="../img/abatments/temp-r.png" alt=""/></div>
        <p class="orthopedics-box__small-abatment-name">TEMP-R</p>
      </div>
    </div>
  </div>
</div>