
<h3 class="orthopedics-box__headling-h3">Эстетические абатменты</h3>
<div class="orthopedics-box__abatments-box-wrapper orthopedics-box__abatments-box-wrapper_margin-bot-60">
  <div class="orthopedics-box__abatments-box orthopedics-box__abatments-box_w370 orthopedics-box__abatments-box_margin-r-30">
    <div class="orthopedics-box__sub-headling-wrapper">
      <div class="orthopedics-box__sub-headling-line"></div>
    </div>
    <div class="orthopedics-box__item-wrapper"> 
      <div class="orthopedics-box__item">
        <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/saf-15.png" alt=""/></div>
        <p class="orthopedics-box__small-abatment-name">SAF-15</p>
      </div>
      <div class="orthopedics-box__item">
        <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/aer-130.png" alt=""/></div>
        <p class="orthopedics-box__small-abatment-name">AER-130  </p>
      </div>
      <div class="orthopedics-box__item">
        <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/aer-131.png" alt=""/></div>
        <p class="orthopedics-box__small-abatment-name">AER-131 </p>
      </div>
      <div class="orthopedics-box__item">
        <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/azr.png" alt=""/></div>
        <p class="orthopedics-box__small-abatment-name">AZR  </p>
      </div>
    </div>
  </div>
</div>