
<h3 class="orthopedics-box__headling-h3">Угловые абатменты</h3>
<div class="orthopedics-box__abatments-box-wrapper orthopedics-box__abatments-box-wrapper_margin-bot-60">
  <div class="orthopedics-box__abatments-box orthopedics-box__abatments-box_w270 orthopedics-box__abatments-box_margin-r-30">
    <div class="orthopedics-box__sub-headling-wrapper">
      <div class="orthopedics-box__sub-headling-line"></div>
      <p class="orthopedics-box__sub-headling-text">15°</p>
      <div class="orthopedics-box__sub-headling-line"></div>
    </div>
    <div class="orthopedics-box__item-wrapper"> 
      <div class="orthopedics-box__item">
        <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/af-151.png" alt=""/></div>
        <p class="orthopedics-box__small-abatment-name">AF-151</p>
      </div>
      <div class="orthopedics-box__item">
        <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/af-153.png" alt=""/></div>
        <p class="orthopedics-box__small-abatment-name">AF-153   </p>
      </div>
      <div class="orthopedics-box__item">
        <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/afo-15.png" alt=""/></div>
        <p class="orthopedics-box__small-abatment-name">AFO-15   </p>
      </div>
    </div>
  </div>
  <div class="orthopedics-box__abatments-box orthopedics-box__abatments-box_w270">
    <div class="orthopedics-box__sub-headling-wrapper">
      <div class="orthopedics-box__sub-headling-line"></div>
      <p class="orthopedics-box__sub-headling-text">25°</p>
      <div class="orthopedics-box__sub-headling-line"></div>
    </div>
    <div class="orthopedics-box__item-wrapper"> 
      <div class="orthopedics-box__item">
        <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/af-251.png" alt=""/></div>
        <p class="orthopedics-box__small-abatment-name">PLN-382</p>
      </div>
      <div class="orthopedics-box__item">
        <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/af-253.png" alt=""/></div>
        <p class="orthopedics-box__small-abatment-name">PLN-383</p>
      </div>
      <div class="orthopedics-box__item">
        <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/afo-25.png" alt=""/></div>
        <p class="orthopedics-box__small-abatment-name">PLN-383</p>
      </div>
    </div>
  </div>
</div>