
<h3 class="orthopedics-box__headling-h3">Прямые абатменты</h3>
<div class="orthopedics-box__abatments-box-wrapper orthopedics-box__abatments-box-wrapper_margin-bot-60">
  <div class="orthopedics-box__abatments-box orthopedics-box__abatments-box_w170 orthopedics-box__abatments-box_margin-r-30">
    <div class="orthopedics-box__sub-headling-wrapper">
      <div class="orthopedics-box__sub-headling-line"></div>
      <p class="orthopedics-box__sub-headling-text">ø 3.8</p>
      <div class="orthopedics-box__sub-headling-line"></div>
    </div>
    <div class="orthopedics-box__item-wrapper"> 
      <div class="orthopedics-box__item">
        <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/akn-small.png" data-src="../../../img/abatments/akn.png" alt=""/></div>
        <p class="orthopedics-box__small-abatment-name">AKN</p>
      </div>
      <div class="orthopedics-box__item">
        <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/pln-380-small.png" data-src="../../../img/abatments/pln-380.png" alt=""/></div>
        <p class="orthopedics-box__small-abatment-name">PLN-380    </p>
      </div>
    </div>
  </div>
  <div class="orthopedics-box__abatments-box orthopedics-box__abatments-box_w360">
    <div class="orthopedics-box__sub-headling-wrapper">
      <div class="orthopedics-box__sub-headling-line"></div>
      <p class="orthopedics-box__sub-headling-text">ø 4.8</p>
      <div class="orthopedics-box__sub-headling-line"></div>
    </div>
    <div class="orthopedics-box__item-wrapper"> 
      <div class="orthopedics-box__item">
        <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/atr-01-small.png" data-src="../../../img/abatments/atr-01.png" alt=""/></div>
        <p class="orthopedics-box__small-abatment-name">ATR-01</p>
      </div>
      <div class="orthopedics-box__item">
        <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/atr-02-small.png" data-src="../../../img/abatments/atr-02.png" alt=""/></div>
        <p class="orthopedics-box__small-abatment-name">ATR-02</p>
      </div>
      <div class="orthopedics-box__item">
        <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/atr-03-small.png" data-src="../../../img/abatments/atr-03.png" alt=""/></div>
        <p class="orthopedics-box__small-abatment-name">ATR-03</p>
      </div>
      <div class="orthopedics-box__item">
        <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/atr-04-small.png" data-src="../../../img/abatments/atr-04.png" alt=""/></div>
        <p class="orthopedics-box__small-abatment-name">ATR-04</p>
      </div>
    </div>
  </div>
</div>
<div class="orthopedics-box__abatments-box orthopedics-box__abatments-box_w360 orthopedics-box__abatments-box-wrapper_margin-bot-60">
  <div class="orthopedics-box__sub-headling-wrapper">
    <div class="orthopedics-box__sub-headling-line"></div>
    <p class="orthopedics-box__sub-headling-text">ø 5.5</p>
    <div class="orthopedics-box__sub-headling-line"></div>
  </div>
  <div class="orthopedics-box__item-wrapper"> 
    <div class="orthopedics-box__item">
      <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/atw-5515-small.png" data-src="../../../img/abatments/atw-5515.png" alt=""/></div>
      <p class="orthopedics-box__small-abatment-name">ATW-5515</p>
    </div>
    <div class="orthopedics-box__item">
      <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/atw-5530-small.png" data-src="../../../img/abatments/atw-5530.png" alt=""/></div>
      <p class="orthopedics-box__small-abatment-name">ATW-5530</p>
    </div>
    <div class="orthopedics-box__item">
      <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/akw-small.png" data-src="../../../img/abatments/akw.png" alt=""/></div>
      <p class="orthopedics-box__small-abatment-name">AKW</p>
    </div>
    <div class="orthopedics-box__item">
      <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/plw-550-small.png" data-src="../../../img/abatments/plw-550.png" alt=""/></div>
      <p class="orthopedics-box__small-abatment-name">PLW-550</p>
    </div>
  </div>
</div>