
<h3 class="orthopedics-box__headling-h3">С винтовой фиксацией</h3>
<div class="orthopedics-box__abatments-box-wrapper orthopedics-box__abatments-box-wrapper_margin-bot-60">
  <div class="orthopedics-box__abatments-box orthopedics-box__abatments-box_w470 orthopedics-box__abatments-box_margin-r-30">
    <div class="orthopedics-box__sub-headling-wrapper">
      <div class="orthopedics-box__sub-headling-line"></div>
    </div>
    <div class="orthopedics-box__item-wrapper"> 
      <div class="orthopedics-box__item">
        <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/ms-01-small.png" data-src="../../../img/abatments/ms-1.png" alt=""/></div>
        <p class="orthopedics-box__small-abatment-name">MS-1</p>
      </div>
      <div class="orthopedics-box__item">
        <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/ms-02-small.png" data-src="../../../img/abatments/ms-2.png" alt=""/></div>
        <p class="orthopedics-box__small-abatment-name">MS-2</p>
      </div>
      <div class="orthopedics-box__item">
        <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/ms-03-small.png" data-src="../../../img/abatments/ms-3.png" alt=""/></div>
        <p class="orthopedics-box__small-abatment-name">MS-3</p>
      </div>
      <div class="orthopedics-box__item">
        <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/ms-04-small.png" data-src="../../../img/abatments/ms-4.png" alt=""/></div>
        <p class="orthopedics-box__small-abatment-name">MS-4</p>
      </div>
      <div class="orthopedics-box__item">
        <div class="orthopedics-box__abatment-pic"><img class="orthopedics-box__abatment-img" src="../../../img/abatments/apm-small.png" data-src="../../../img/abatments/apm.png" alt=""/></div>
        <p class="orthopedics-box__small-abatment-name">APM    </p>
      </div>
    </div>
  </div>
</div>