
<h3 class="instruments-box__headling-h3">Сверла</h3>
<div class="instruments-box__instruments-box-wrapper instruments-box__instruments-box-wrapper_margin-bot-60">
  <div class="instruments-box instruments-box_direction-column">
    <div class="instruments-box__sub-headling-wrapper">
      <div class="instruments-box__sub-headling-line"></div>
    </div>
    <div class="instruments-box__item-wrapper"> 
      <div class="instruments-box__item">
        <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-2mm.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Ø 2 мм</p>
        <p class="instruments-box__small-instruments-name">Пилотное сверло </p>
      </div>
      <div class="instruments-box__item">
        <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-27mm.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Ø 2.7 мм</p>
        <p class="instruments-box__small-instruments-name">Коническое сверло</p>
      </div>
      <div class="instruments-box__item">
        <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-32mm.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Ø 3.2 мм </p>
        <p class="instruments-box__small-instruments-name">Коническое сверло </p>
      </div>
      <div class="instruments-box__item">
        <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-37mm.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Ø 3.7 мм</p>
        <p class="instruments-box__small-instruments-name">Коническое сверло</p>
      </div>
    </div>
    <div class="instruments-box__item-wrapper"> 
      <div class="instruments-box__item">
        <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-45mm.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Ø 4.5 мм</p>
        <p class="instruments-box__small-instruments-name">Пилотное сверло </p>
      </div>
      <div class="instruments-box__item">
        <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-32-35-38mm.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Ø 3.2/3.5/3.8 мм</p>
        <p class="instruments-box__small-instruments-name">Коническое сверло</p>
      </div>
      <div class="instruments-box__item">
        <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-40-47mm.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Ø 4.0-4.7 мм </p>
        <p class="instruments-box__small-instruments-name">Коническое сверло </p>
      </div>
      <div class="instruments-box__item">
        <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-extention.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Удлинитель сверла</p>
      </div>
    </div>
  </div>
</div>