
<h3 class="instruments-box__headling-h3" id="screw">Имплантовводы и отвертки</h3>
<div class="instruments-box__instruments-box-wrapper instruments-box__instruments-box-wrapper_margin-bot-60">
  <div class="instruments-box instruments-box_direction-column">
    <div class="instruments-box__sub-headling-wrapper">
      <div class="instruments-box__sub-headling-line"></div>
    </div>
    <div class="instruments-box__item-wrapper"> 
      <div class="instruments-box__item instruments-box_implants-item">
        <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instruments-in-solo.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Имплантоввод для имплантатов Solo и SoloPlus </p>
      </div>
      <div class="instruments-box__item instruments-box_implants-item">
        <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instruments-in-classic.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Имплантоввод для имплантатов Classic</p>
      </div>
      <div class="instruments-box__item instruments-box_implants-item">
        <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instruments-in-classic-vint.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Имплантоввод с винтом для имплантатов Classic</p>
      </div>
      <div class="instruments-box__item instruments-box_implants-item">
        <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instruments-in-classic-machine.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Имплантоввод машинный для имплантатов Classic</p>
      </div>
    </div>
    <div class="instruments-box__item-wrapper instruments-box__item-wrapper_jc-flex-start"> 
      <div class="instruments-box__item instruments-box_implants-item">
        <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instruments-in-vint.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Отвертка машинная шестигранная</p>
      </div>
      <div class="instruments-box__item instruments-box_implants-item">
        <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instruments-in-vint-hand.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Отвертка ручная шестигранная</p>
      </div>
      <div class="instruments-box__item instruments-box_implants-item">
        <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instruments-in-vint-for-clef.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Ключ-отвертка</p>
      </div>
    </div>
  </div>
</div>