
<h3 class="instruments-box__headling-h3">Ключи</h3>
<div class="instruments-box__instruments-box-wrapper instruments-box__instruments-box-wrapper_margin-bot-60">
  <div class="instruments-box instruments-box_direction-column">
    <div class="instruments-box__sub-headling-wrapper">
      <div class="instruments-box__sub-headling-line"></div>
    </div>
    <div class="instruments-box__key-item-wrapper"> 
      <div class="instruments-box__key-item">
        <div class="instruments-box__keys-pic"><img class="instruments-box__keys-img" src="../../../img/clef.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Динамометрический ключ </p>
      </div>
      <div class="instruments-box__key-item">
        <div class="instruments-box__keys-pic"><img class="instruments-box__keys-img" src="../../../img/clef-dynamometric.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Трещотка</p>
      </div>
    </div>
  </div>
</div>