
<h3 class="instruments-box__headling-h3">Хирургический набор</h3>
<div class="instruments-box__instruments-box-wrapper instruments-box__instruments-box-wrapper_margin-bot-60">
  <div class="instruments-box instruments-box_direction-column js-surgical-box">
    <div class="instruments-box__sub-headling-wrapper">
      <div class="instruments-box__sub-headling-line"></div>
    </div>
    <div class="instruments-box__key-item-wrapper"> 
      <p class="main-text main-text_margin-bot-40">Компактный и удобный набор содержит оптимальное количество инструментов для работы с одно- и двухэтапными имплантатами на хирургическом и ортопедическом этапах.<br/>Бокс изготовлен из нержавеющей стали предназначен для хранения и стерилизации инструмента. Может подвергаться термической стерилизации не выше 134 С°.<br/>В хирургический набор входит:</p>
    </div>
    <div class="instruments-box__item-wrapper"> 
      <div class="instruments-box__surgical-item">
        <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-2mm.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Ø 2 мм</p>
        <p class="instruments-box__small-instruments-name">Пилотное сверло </p>
      </div>
      <div class="instruments-box__surgical-item">
        <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-27mm.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Ø 2.7 мм</p>
        <p class="instruments-box__small-instruments-name">Коническое сверло</p>
      </div>
      <div class="instruments-box__surgical-item">
        <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-32mm.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Ø 3.2 мм </p>
        <p class="instruments-box__small-instruments-name">Коническое сверло </p>
      </div>
      <div class="instruments-box__surgical-item">
        <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-37mm.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Ø 3.7 мм</p>
        <p class="instruments-box__small-instruments-name">Коническое сверло</p>
      </div>
    </div>
    <div class="instruments-box__item-wrapper"> 
      <div class="instruments-box__surgical-item">
        <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-45mm.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Ø 4.5 мм</p>
        <p class="instruments-box__small-instruments-name">Пилотное сверло </p>
      </div>
      <div class="instruments-box__surgical-item">
        <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-32-35-38mm.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Ø 3.2/3.5/3.8 мм</p>
        <p class="instruments-box__small-instruments-name">Коническое сверло</p>
      </div>
      <div class="instruments-box__surgical-item">
        <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-40-47mm.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Ø 4.0-4.7 мм </p>
        <p class="instruments-box__small-instruments-name">Коническое сверло </p>
      </div>
      <div class="instruments-box__surgical-item">
        <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-extention.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Удлинитель сверла</p>
      </div>
    </div>
    <div class="instruments-box__item-wrapper"> 
      <div class="instruments-box__surgical-item">
        <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-in-solo.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Имплантоввод для имплантатов Solo и SoloPlus </p>
      </div>
      <div class="instruments-box__surgical-item">
        <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-in-classic.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Имплантоввод для имплантатов Classic</p>
      </div>
      <div class="instruments-box__surgical-item">
        <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-in-classic-vint.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Имплантоввод с винтом для имплантатов Classic</p>
      </div>
      <div class="instruments-box__surgical-item">
        <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-in-classic-machine.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Имплантоввод машинный для имплантатов Classic</p>
      </div>
    </div>
    <div class="instruments-box__item-wrapper instruments-box__item-wrapper_jc-flex-start"> 
      <div class="instruments-box__surgical-item">
        <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-in-vint.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Отвертка машинная шестигранная</p>
      </div>
      <div class="instruments-box__surgical-item">
        <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-in-vint-hand.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Отвертка ручная шестигранная</p>
      </div>
      <div class="instruments-box__surgical-item">
        <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-in-vint-for-clef.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Ключ-отвертка</p>
      </div>
    </div>
    <div class="instruments-box__key-item-wrapper">
      <div class="instruments-box__surgical-key-item">
        <div class="instruments-box__keys-pic"><img class="instruments-box__keys-img" src="../../../img/clef-dynamometric.png" alt=""/></div>
        <p class="instruments-box__small-instruments-name">Трещотка</p>
      </div>
    </div>
  </div>
</div>