
<div class="list-content">
  <div class="list-content-box">
    <div class="list-content-box__wrapper list-content-box__wrapper_al-items-flex-start list-content-box__wrapper_flex-direction-row">
      <div class="list-content__text-box list-content__text-box_margin-right">
        <h4 class="h4 h4_margin_bottom">Двухэтапные имплантаты с внутренним шестигранником</h4>
        <p class="list-content__main-text main-text">Единая ортопедическая платформа для всех диаметров имплантатов и абатментов значительно упрощает работу со всей системой. Внутренний шестигранник и конус обеспечивают надежное и герметичное соединение имплантат-абатмент.</p>
      </div>
      <div class="list-content__picture-box"><img class="list-content__image" src="../img/classic-imp-pic.png" alt=""/></div>
    </div>
    <div class="list-content-box__wrapper list-content-box__wrapper_flex-direction-row-rev list-content-box__wrapper_al-items-center">
      <div class="list-content__text-box list-content__text-box_margin-left">
        <h4 class="h4 h4_margin_bottom">Внутренний шестигранник</h4>
        <div class="list-content__grey-line"></div>
        <p class="list-content__main-text main-text">Корневидная форма внутрикостной части физиологично равномерно распределяет осевые нагрузки по всей длине имплантата. Данная форма передает на кость положительную механическую нагрузку, оптимизируя процессы остеогенеза вокруг имплантата.</p>
      </div>
      <div class="list-content__picture-box"><img class="list-content__small-image" src="../img/inside_hexagon.png" alt=""/></div>
    </div>
    <div class="list-content-box__wrapper list-content-box__wrapper_flex-direction-row list-content-box__wrapper_al-items-center">
      <div class="list-content__text-box list-content__text-box_margin-right">
        <h4 class="h4 h4_margin_bottom">Микрорезьба с оптимизированным профилем</h4>
        <div class="list-content__grey-line"></div>
        <p class="list-content__main-text main-text">Микрорезьба имеет три входа и шаг основной резьбы. Дополнительно стабилизирует первичную фиксацию имплантата в кортикальной кости. Увеличивает площадь контакта кость-имплантат. Равномерно распределяет нагрузки и способствует долгосрочному сохранению кортикальной кости в процессе функционирования.</p>
      </div>
      <div class="list-content__picture-box"><img class="list-content__small-image" src="../img/micro-prof.png" alt=""/></div>
    </div>
    <div class="list-content-box__wrapper list-content-box__wrapper_flex-direction-row-rev list-content-box__wrapper_al-items-center">
      <div class="list-content__text-box list-content__text-box_margin-left">
        <h4 class="h4 h4_margin_bottom">Основная резьба с оптимизированным профилем</h4>
        <div class="list-content__grey-line"></div>
        <p class="list-content__main-text main-text">Самонарезающая основная резьба имплантата упрощает процедуру инсталляции в любом типе кости. Переменная высота и толщина витков имплантата позволяет первыми витками нарезать, а последующими уплотнить кость вокруг имплантата, что обеспечивает надежную первичную фиксацию и позволяет ускорить сроки протезирования.</p>
      </div>
      <div class="list-content__picture-box"><img class="list-content__image" src="../img/main-thread-pic.png" alt=""/></div>
    </div>
    <div class="list-content-box__wrapper list-content-box__wrapper_flex-direction-row list-content-box__wrapper_al-items-center">
      <div class="list-content__text-box list-content__text-box_margin-right">
        <h4 class="h4 h4_margin_bottom">Макродизайн внутрикостной части</h4>
        <div class="list-content__grey-line"></div>
        <p class="list-content__main-text main-text">Корневидная форма внутрикостной части физиологично равномерно распределяет осевые нагрузки по всей длине имплантата. Данная форма передает на кость положительную механическую нагрузку, оптимизируя процессы остеогенеза вокруг имплантата.</p>
      </div>
      <div class="list-content__picture-box"><img class="list-content__image" src="../img/wave-prof.png" alt=""/></div>
    </div>
    <div class="list-content-box__wrapper list-content-box__wrapper_flex-direction-row-rev list-content-box__wrapper_al-items-center">
      <div class="list-content__text-box list-content__text-box_margin-left">
        <h4 class="h4 h4_margin_bottom">Основная резьба с оптимизированным профилем</h4>
        <div class="list-content__grey-line"></div>
        <p class="list-content__main-text main-text">Все имплантаты изготавливаются из медицинского титана. Поверхность внутрикостной части подвергается пескоструйной обработке и травлению в кислоте (SLA-поверхность). Образованная при этом микропористость обеспечивает высокую адгезию костных клеток.</p>
      </div>
      <div class="list-content__picture-box"><img class="list-content__image" src="../img/material-pic.png" alt=""/></div>
    </div>
    <div class="list-content-box__wrapper list-content-box__wrapper_flex-direction-row list-content-box__wrapper_al-items-center">
      <div class="list-content__text-box list-content__text-box_margin-right">
        <h4 class="h4 h4_margin_bottom">Макродизайн внутрикостной части</h4>
        <div class="list-content__grey-line"></div>
        <p class="list-content__main-text main-text">Способствует атравматичному введению имплантата. Расположен на режущих витках основной резьбы и создает сопротивление при ротационных движениях на выкручивание.</p>
      </div>
      <div class="list-content__picture-box"><img class="list-content__small-image" src="../img/derotation-pic.png" alt=""/></div>
    </div>
  </div>
  <div class="list-content-box"> </div>
  <div class="list-content-box"></div>
  <div class="list-content-box">
    <h4 class="h4 h4_margin_bottom">Рекомендации</h4>
    <div class="teeth-box-wrapper">
      <div class="top-teeth-list">
        <div class="teeth-box">
          <div class="list-content__picture-box"><img class="list-content__teeth-image" src="../img/imp-3814.png" alt=""/></div>
          <p class="sub-text sub-text_margin-bot-24">Classic 3814</p>
          <div class="list-content__grey-line list-content__grey-line_margin-bot-16"></div>
          <p class="sub-text sub-text_margin-bot-8">ø  4.3 мм</p>
          <p class="sub-text">L  8 мм</p>
        </div>
        <div class="teeth-box">
          <div class="list-content__picture-box"><img class="list-content__teeth-image" src="../img/imp-3812.png" alt=""/></div>
          <p class="sub-text sub-text_margin-bot-24">Classic 3812</p>
          <div class="list-content__grey-line list-content__grey-line_margin-bot-16"></div>
          <p class="sub-text sub-text_margin-bot-8">ø  4.3 мм</p>
          <p class="sub-text">L  8 мм</p>
        </div>
        <div class="teeth-box">
          <div class="list-content__picture-box"><img class="list-content__teeth-image" src="../img/imp-4314.png" alt=""/></div>
          <p class="sub-text sub-text_margin-bot-24">Classic 4314</p>
          <div class="list-content__grey-line list-content__grey-line_margin-bot-16"></div>
          <p class="sub-text sub-text_margin-bot-8">ø  4.3 мм</p>
          <p class="sub-text">L  8 мм</p>
        </div>
        <div class="teeth-box">
          <div class="list-content__picture-box"><img class="list-content__teeth-image" src="../img/imp-3812-2.png" alt=""/></div>
          <p class="sub-text sub-text_margin-bot-24">Classic 3812</p>
          <div class="list-content__grey-line list-content__grey-line_margin-bot-16"></div>
          <p class="sub-text sub-text_margin-bot-8">ø  4.3 мм</p>
          <p class="sub-text">L  8 мм</p>
        </div>
        <div class="teeth-box">
          <div class="list-content__picture-box"><img class="list-content__teeth-image" src="../img/imp-3812-3.png" alt=""/></div>
          <p class="sub-text sub-text_margin-bot-24">Classic 3812</p>
          <div class="list-content__grey-line list-content__grey-line_margin-bot-16"></div>
          <p class="sub-text sub-text_margin-bot-8">ø  4.3 мм</p>
          <p class="sub-text">L  8 мм</p>
        </div>
        <div class="teeth-box">
          <div class="list-content__picture-box"><img class="list-content__teeth-image" src="../img/imp-5010.png" alt=""/></div>
          <p class="sub-text sub-text_margin-bot-24">Classic 5010</p>
          <div class="list-content__grey-line list-content__grey-line_margin-bot-16"></div>
          <p class="sub-text sub-text_margin-bot-8">ø  4.3 мм</p>
          <p class="sub-text">L  8 мм</p>
        </div>
        <div class="teeth-box">
          <div class="list-content__picture-box"><img class="list-content__teeth-image" src="../img/imp-5012.png" alt=""/></div>
          <p class="sub-text sub-text_margin-bot-24">Classic 5012</p>
          <div class="list-content__grey-line list-content__grey-line_margin-bot-16"></div>
          <p class="sub-text sub-text_margin-bot-8">ø  4.3 мм</p>
          <p class="sub-text">L  8 мм</p>
        </div>
      </div>
      <div class="number-box">
        <p class="sub-text sub-text_font-size-24 sub-text_margin-bot-24">1</p>
        <p class="sub-text sub-text_font-size-24 sub-text_margin-bot-24">2</p>
        <p class="sub-text sub-text_font-size-24 sub-text_margin-bot-24">3</p>
        <p class="sub-text sub-text_font-size-24 sub-text_margin-bot-24">4</p>
        <p class="sub-text sub-text_font-size-24 sub-text_margin-bot-24">5</p>
        <p class="sub-text sub-text_font-size-24 sub-text_margin-bot-24">6</p>
        <p class="sub-text sub-text_font-size-24 sub-text_margin-bot-24">7</p>
      </div>
      <div class="bottom-teeth-list">
        <div class="teeth-box-reverse">
          <div class="list-content__picture-box"><img class="list-content__teeth-image_reverse" src="../img/imp-3812.png" alt=""/></div>
          <p class="sub-text sub-text_margin-bot-24">Classic 3812</p>
          <div class="list-content__grey-line list-content__grey-line_margin-bot-16"></div>
          <p class="sub-text sub-text_margin-bot-8">ø  4.3 мм</p>
          <p class="sub-text">L  8 мм</p>
        </div>
        <div class="teeth-box-reverse">
          <div class="list-content__picture-box"><img class="list-content__teeth-image_reverse" src="../img/imp-3814.png" alt=""/></div>
          <p class="sub-text sub-text_margin-bot-24">Classic 3814</p>
          <div class="list-content__grey-line list-content__grey-line_margin-bot-16"></div>
          <p class="sub-text sub-text_margin-bot-8">ø  4.3 мм</p>
          <p class="sub-text">L  8 мм</p>
        </div>
        <div class="teeth-box-reverse">
          <div class="list-content__picture-box"><img class="list-content__teeth-image_reverse" src="../img/imp-4314.png" alt=""/></div>
          <p class="sub-text sub-text_margin-bot-24">Classic 4314</p>
          <div class="list-content__grey-line list-content__grey-line_margin-bot-16"></div>
          <p class="sub-text sub-text_margin-bot-8">ø  4.3 мм</p>
          <p class="sub-text">L  8 мм</p>
        </div>
        <div class="teeth-box-reverse">
          <div class="list-content__picture-box"><img class="list-content__teeth-image_reverse" src="../img/imp-3812-2.png" alt=""/></div>
          <p class="sub-text sub-text_margin-bot-24">Classic 3812</p>
          <div class="list-content__grey-line list-content__grey-line_margin-bot-16"></div>
          <p class="sub-text sub-text_margin-bot-8">ø  4.3 мм</p>
          <p class="sub-text">L  8 мм</p>
        </div>
        <div class="teeth-box-reverse">
          <div class="list-content__picture-box"><img class="list-content__teeth-image_reverse" src="../img/imp-3812-3.png" alt=""/></div>
          <p class="sub-text sub-text_margin-bot-24">Classic 3812</p>
          <div class="list-content__grey-line list-content__grey-line_margin-bot-16"></div>
          <p class="sub-text sub-text_margin-bot-8">ø  4.3 мм</p>
          <p class="sub-text">L  8 мм</p>
        </div>
        <div class="teeth-box-reverse">
          <div class="list-content__picture-box"><img class="list-content__teeth-image_reverse" src="../img/imp-5010.png" alt=""/></div>
          <p class="sub-text sub-text_margin-bot-24">Classic 5010</p>
          <div class="list-content__grey-line list-content__grey-line_margin-bot-16"></div>
          <p class="sub-text sub-text_margin-bot-8">ø  4.3 мм</p>
          <p class="sub-text">L  8 мм</p>
        </div>
        <div class="teeth-box-reverse">
          <div class="list-content__picture-box"><img class="list-content__teeth-image_reverse" src="../img/imp-5012.png" alt=""/></div>
          <p class="sub-text sub-text_margin-bot-24">Classic 5012</p>
          <div class="list-content__grey-line list-content__grey-line_margin-bot-16"></div>
          <p class="sub-text sub-text_margin-bot-8">ø  4.3 мм</p>
          <p class="sub-text">L  8 мм</p>
        </div>
      </div>
    </div>
  </div>
  <div class="list-content-box"></div>
</div>