
<div class="main-container main-container_background_classic">
  <div class="box">
    <h4 class="h4 box_h4_margin_botom">Двухэтапные имплантаты с внутренним шестигранником</h4>
    <div class="main-text">Единая ортопедическая платформа для всех диаметров имплантатов и абатментов значительно упрощает работу со всей системой. Внутренний шестигранник и конус обеспечивают надежное и герметичное соединение имплантат-абатмент.</div>
  </div><img class="box__classic-img" src="../img/classic-imp-pic.png" alt=""/>
</div>