
<div class="main-container main-container_background_event-bg">
  <div class="box box_box-width-1200 box__wrapper box_flex-direction-col box_al-items-center">
    <div class="data-wrapper"> <span class="title-white-line"></span>
      <p class="main-text main-text_color-white main-text_text-al-center">4-5 октября 2013</p><span class="title-white-line"> </span>
    </div>
    <p class="title-text">ImpLife® — участник и спонсор выставки, приуроченной 14 заседанию Клуба имплантологов Украины, которое прошло 4-5 октября 2013 года в г. Одессе.</p><a class="more-button more-button_margin-bot-40" href="#">Подробнее</a>
  </div>
</div>
<div class="main-container">   
  <div class="event-box__wrapper">
    <div class="event-box">
      <p class="event-box__date">4-5 октября 2013</p>
      <div class="event-box__black-line"></div>
      <div class="event-box__image"><img class="event-box__picture" src="../img/odessa-img.png" alt=""/></div>
      <p class="event-box__text">ImpLife® — участник и спонсор выставки, приуроченной 14 заседанию Клуба имплантологов Украины, которое прошло 4-5 октября 2013 года в г. Одессе.</p>
    </div>
    <div class="event-box">
      <p class="event-box__date">4-6 апреля 2013</p>
      <div class="event-box__black-line"></div>
      <div class="event-box__image"><img class="event-box__picture" src="../img/lviv-img.png" alt=""/></div>
      <p class="event-box__text">ImpLife® — участник и спонсор выставки, приуроченной 14 заседанию Клуба имплантологов Украины, которое прошло 4-5 октября 2013 года в г. Одессе.</p>
    </div>
    <div class="event-box">
      <p class="event-box__date">5-6 октября 2012</p>
      <div class="event-box__black-line"></div>
      <div class="event-box__image"><img class="event-box__picture" src="../img/ivan-f-img.png" alt=""/></div>
      <p class="event-box__text">ImpLife® — участник и спонсор выставки, приуроченной 14 заседанию Клуба имплантологов Украины, которое прошло 4-5 октября 2013 года в г. Одессе.</p>
    </div>
    <div class="event-box">
      <p class="event-box__date">4-5 октября 2013</p>
      <div class="event-box__black-line"></div>
      <div class="event-box__image"><img class="event-box__picture" src="../img/odessa-img.png" alt=""/></div>
      <p class="event-box__text">ImpLife® — участник и спонсор выставки, приуроченной 14 заседанию Клуба имплантологов Украины, которое прошло 4-5 октября 2013 года в г. Одессе.</p>
    </div>
    <div class="event-box">
      <p class="event-box__date">4-6 апреля 2013</p>
      <div class="event-box__black-line"></div>
      <div class="event-box__image"><img class="event-box__picture" src="../img/lviv-img.png" alt=""/></div>
      <p class="event-box__text">ImpLife® — участник и спонсор выставки, приуроченной 14 заседанию Клуба имплантологов Украины, которое прошло 4-5 октября 2013 года в г. Одессе.</p>
    </div>
    <div class="event-box">
      <p class="event-box__date">5-6 октября 2012</p>
      <div class="event-box__black-line"></div>
      <div class="event-box__image"><img class="event-box__picture" src="../img/ivan-f-img.png" alt=""/></div>
      <p class="event-box__text">ImpLife® — участник и спонсор выставки, приуроченной 14 заседанию Клуба имплантологов Украины, которое прошло 4-5 октября 2013 года в г. Одессе.</p>
    </div>
    <div class="event-box">
      <p class="event-box__date">4-5 октября 2013</p>
      <div class="event-box__black-line"></div>
      <div class="event-box__image"><img class="event-box__picture" src="../img/odessa-img.png" alt=""/></div>
      <p class="event-box__text">ImpLife® — участник и спонсор выставки, приуроченной 14 заседанию Клуба имплантологов Украины, которое прошло 4-5 октября 2013 года в г. Одессе.</p>
    </div>
  </div>
</div>