
<footer class="main-footer">
  <div class="footer-logo"></div>
  <div class="footer-box">
    <div class="phone-box">
      <div class="footer-box__info-box footer-box__info-box_vodafone">050 123 45 67</div>
      <div class="footer-box__info-box footer-box__info-box_kievstar">067 123 45 67</div>
      <div class="footer-box__info-box footer-box__info-box_phone">068 123 45 67</div>
    </div>
    <div class="social-media-box">
      <div class="footer-box__info-box footer-box__info-box_facebook">Facebook</div>
      <div class="footer-box__info-box footer-box__info-box_youtube">Youtube</div>
      <div class="footer-box__info-box footer-box__info-box_linkedin">Linkedin</div>
    </div>
  </div>
  <p class="copyright-info">© 2007–2017 Implife. Все права защищены. Использование материалов этого сайта возможно только со ссылкой на источник</p>
</footer>