
<footer>
  <div class="main-footer">
    <div class="footer-box__wrapper">
      <div class="footer-logo"></div>
      <div class="footer-box footer-box_flex-direction-row">
        <div class="phone-box">
          <div class="footer-box__info-box footer-box__info-box_vodafone">050 123 45 67</div>
          <div class="footer-box__info-box footer-box__info-box_kievstar">067 123 45 67</div>
          <div class="footer-box__info-box footer-box__info-box_phone">068 123 45 67</div>
        </div>
        <div class="social-media-box"><a class="footer-box__info-box footer-box__info-box_facebook" href="#">Facebook</a><a class="footer-box__info-box footer-box__info-box_youtube" href="#">Youtube</a><a class="footer-box__info-box footer-box__info-box_linkedin" href="#">Linkedin</a></div>
      </div>
      <p class="copyright-info">© 2007–2017 Implife. Все права защищены. Использование материалов этого сайта возможно только со ссылкой на источник</p>
    </div>
    <div class="navigation-box">
      <div class="footer-box">
        <ul class="footer-box__list">
          <li class="footer-box__item footer-box__item_headling-color">О Компании</li>
          <li class="footer-box__item"><a class="footer-box__link" href="#">О нас</a></li>
          <li class="footer-box__item"><a class="footer-box__link" href="#">Миссия и ценности </a></li>
          <li class="footer-box__item"><a class="footer-box__link" href="#">Патенты</a></li>
          <li class="footer-box__item"><a class="footer-box__link" href="#">Новости</a></li>
          <li class="footer-box__item"><a class="footer-box__link" href="#">События</a></li>
          <li class="footer-box__item"><a class="footer-box__link" href="#">Публикации</a></li>
          <li class="footer-box__item"><a class="footer-box__link" href="#">Представительства</a></li>
          <li class="footer-box__item"><a class="footer-box__link" href="#">Контакты </a></li>
        </ul>
      </div>
      <div class="footer-box__wrapper">
        <div class="footer-box">
          <ul class="footer-box__list">
            <li class="footer-box__item footer-box__item_headling-color">Продукция</li>
            <li class="footer-box__item"><a class="footer-box__link" href="#">Classic</a></li>
            <li class="footer-box__item"><a class="footer-box__link" href="#">Solo & Solo+</a></li>
            <li class="footer-box__item"><a class="footer-box__link" href="#">Ортопедия</a></li>
            <li class="footer-box__item"><a class="footer-box__link" href="#">Инструменты</a></li>
          </ul>
        </div>
        <div class="footer-box">
          <ul class="footer-box__list">
            <li class="footer-box__item footer-box__item_headling-color">Пациентам</li>
            <li class="footer-box__item"><a class="footer-box__link" href="#">Опасность потери зуба</a></li>
            <li class="footer-box__item"><a class="footer-box__link" href="#">Об имплантации</a></li>
            <li class="footer-box__item"><a class="footer-box__link" href="#">Продукция</a></li>
            <li class="footer-box__item"><a class="footer-box__link" href="#">Часто задаваемые вопросы         </a></li>
          </ul>
        </div>
      </div>
      <div class="footer-box">
        <ul class="footer-box__list">
          <li class="footer-box__item footer-box__item_headling-color">Магазин</li>
          <li class="footer-box__item"><a class="footer-box__link" href="#">Оплата и доставка</a></li>
          <li class="footer-box__item"><a class="footer-box__link" href="#">Classic</a></li>
          <li class="footer-box__item"><a class="footer-box__link" href="#">Solo</a></li>
          <li class="footer-box__item"><a class="footer-box__link" href="#">Solo+</a></li>
          <li class="footer-box__item"><a class="footer-box__link" href="#">Формирование десны</a></li>
          <li class="footer-box__item"><a class="footer-box__link" href="#">Трансферы и аналоги</a></li>
          <li class="footer-box__item"><a class="footer-box__link" href="#">Абатменты</a></li>
          <li class="footer-box__item"><a class="footer-box__link" href="#">Сверла</a></li>
          <li class="footer-box__item"><a class="footer-box__link" href="#">Отвертки и ключи</a></li>
          <li class="footer-box__item"><a class="footer-box__link" href="#">Хирургический набор</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>