
<div class="main-container main-container_background_products main-container_flex-direction-col main-container_margin-bottom">
  <div class="magazine-box">
    <div class="magazine-links-wrapper"><a class="magazine-link" href="/classic.html">
        <div class="magazine-link__img"><img class="magazine-link__pic" src="../img/magazine-link-pic-1.png" alt=""/></div>
        <p class="magazine-link__small-text">Classic</p></a><a class="magazine-link" href="/orthopedics.html">  
        <div class="magazine-link__img"><img class="magazine-link__pic" src="../img/magazine-link-pic-2.png" alt=""/></div>
        <p class="magazine-link__small-text">Абатменты</p></a></div>
    <div class="magazine-links-wrapper"><a class="magazine-link" href="/classic.html">
        <div class="magazine-link__img"><img class="magazine-link__pic" src="../img/magazine-link-pic-3.png" alt=""/></div>
        <p class="magazine-link__small-text">Solo</p></a><a class="magazine-link" href="/orthopedics.html">  
        <div class="magazine-link__img"><img class="magazine-link__pic" src="../img/magazine-link-pic-4.png" alt=""/></div>
        <p class="magazine-link__small-text">SoloPlus</p></a></div>
  </div>
  <div class="bottom-elem-trapeze"></div>
</div>
<div class="main-container">
  <div class="main-magazine-box">
    <div class="main-magazine-box__wrapper">
      <div class="main-magazine-box__decoration-wrapper">
        <div class="main-magazine-box__small-grey-line"></div>
        <div class="main-magazine-box__hexagon"></div>
        <div class="main-magazine-box__small-grey-line"></div>
      </div>
      <div class="magazine-links-wrapper magazine-links-wrapper_width-100perc"><a class="magazine-link" href="#">  
          <div class="magazine-link__img"><img class="magazine-link__pic" src="../img/magazine-link-pic-5.png" alt=""/></div>
          <p class="magazine-link__extra-small-text">Формирователи десны</p></a><a class="magazine-link" href="#">  <img class="magazine-link__img" src="../img/magazine-link-pic-6.png" alt=""/>
          <p class="magazine-link__extra-small-text">Трансферы и аналоги</p></a></div>
    </div>
    <div class="main-magazine-box__wrapper">
      <div class="main-magazine-box__decoration-wrapper">
        <div class="main-magazine-box__small-grey-line"></div>
        <div class="main-magazine-box__square"></div>
        <div class="main-magazine-box__small-grey-line"></div>
      </div>
      <div class="magazine-links-wrapper magazine-links-wrapper_width-100perc"><a class="magazine-link" href="#">  <img class="magazine-link__img" src="../img/magazine-link-pic-7.png" alt=""/>
          <p class="magazine-link__extra-small-text">Формирователи десны</p></a><a class="magazine-link" href="#">  <img class="magazine-link__img" src="../img/magazine-link-pic-8.png" alt=""/>
          <p class="magazine-link__extra-small-text">Трансферы и аналоги</p></a></div>
    </div>
  </div>
  <div class="main-magazine-box__big-grey-line">   </div>
  <div class="main-magazine-box">
    <div class="magazine-links-wrapper magazine-links-wrapper_width-100perc magazine-links-wrapper_al-items-flex-end"><a class="magazine-link" href="/instruments.html">
        <div class="magazine-link__img"><img class="magazine-link__pic" src="../img/magazine-link-pic-9.png" alt=""/></div>
        <p class="magazine-link__extra-small-text">Сверла</p></a><a class="magazine-link" href="/instruments.html">  
        <div class="magazine-link__img"><img class="magazine-link__pic" src="../img/magazine-link-pic-10.png" alt=""/></div>
        <p class="magazine-link__extra-small-text">Ключи и отвертки</p></a><a class="magazine-link" href="/instruments.html">  
        <div class="magazine-link__img"><img class="magazine-link__pic" src="../img/magazine-link-pic-11.png" alt=""/></div>
        <p class="magazine-link__extra-small-text">Хирургический набор</p></a></div>
  </div>
</div>