
<div class="main-container"> 
  <div class="box">
    <h3 class="h3 box_h3_margin_botom">Свобода действий    </h3>
    <p class="main-text box__text_margin_botom">Критерием успеха стоматологической практики являются успешный результат лечения, благодарный пациент и удовлетворение от рабочего процесса. <br/>Мы разделяем Вашу ответственность перед пациентами и гарантируем высoкий уровень сервиса. В случае форс-мажорных обстоятельств мы производим замену компонентов системы в кратчайшие сроки.</p>
  </div>
  <div class="grey-line"></div>
  <div class="box">
    <h3 class="h3 box_h3_margin_botom">Онлайн заказ и доставка по всей Украине</h3>
    <h4 class="h4 box_h4_margin_botom">Быстро и вовремя</h4>
    <p class="main-text box_text_margin_botom">Мы понимаем насколько важно сделать правильный выбор и вовремя получить заказ. Поэтому мы сделали удобный онлайн магазин и выработали быстрый и точный механизм доставки.</p><a class="main-button" href="#">Онлайн магазин            </a>
  </div>
</div>