
<div class="counter">
  <div class="slider__buttons">
    <div class="counter__first-num"></div>
    <div class="counter__slash"></div>
    <div class="counter__second-num"></div>
  </div>
</div>
<div class="main-slider">
  <div class="slick-slide">
    <div class="slick-slide__wrapper">       <img class="slick-slide__photo" src="../img/chertov-min.png" alt=""/>
      <div class="slick-slide__sub-text-wrapper">
        <h3 class="h3 slick-slide__h3">Как создавалась система Implife</h3>
        <p class="slick-slide__quote">Мы разделяем Вашу ответственность перед пациентами и гарантируем высокий уровень сервиса. В случае форс-мажорных обстоятельств мы производим замену компонентов системы в кратчайшие сроки.</p>
        <p class="slick-slide__sub-title">- Сергей Чертов</p>
        <p class="slick-slide__text">Разрабочик системы Implife<br/>Врач-хирург, кандидат медицинских наук<br/>Заведующий кафедры хирургической стоматологии</p><a class="more-button" href="#">Подробнее </a>
      </div>
    </div>
  </div>
  <div class="slick-slide">
    <div class="slick-slide__wrapper">       <img class="slick-slide__photo" src="../img/chertov-min.png" alt=""/>
      <div class="slick-slide__sub-text-wrapper">
        <h3 class="h3 slick-slide__h3">Классические штифты для протезирования в Запорожье</h3>
        <p class="slick-slide__quote">Единая ортопедическая платформа для всех диаметров имплантатов и абатментов значительно упрощает работу со всей системой.</p>
        <p class="slick-slide__sub-title">- Сергей Чертов</p>
        <p class="slick-slide__text">Разрабочик системы Implife<br/>Врач-хирург, кандидат медицинских наук<br/>Заведующий кафедры хирургической стоматологии</p><a class="more-button" href="#">Подробнее </a>
      </div>
    </div>
  </div>
  <div class="slick-slide"> 
    <div class="slick-slide__wrapper">       <img class="slick-slide__photo" src="../img/chertov-min.png" alt=""/>
      <div class="slick-slide__sub-text-wrapper">
        <h3 class="h3 slick-slide__h3">Как создавалась система Implife</h3>
        <p class="slick-slide__quote">Мы разделяем Вашу ответственность перед пациентами и гарантируем высокий уровень сервиса. В случае форс-мажорных обстоятельств мы производим замену компонентов системы в кратчайшие сроки.</p>
        <p class="slick-slide__sub-title">- Сергей Чертов</p>
        <p class="slick-slide__text">Разрабочик системы Implife<br/>Врач-хирург, кандидат медицинских наук<br/>Заведующий кафедры хирургической стоматологии</p><a class="more-button" href="#">Подробнее</a>
      </div>
    </div>
  </div>
</div>