
<div class="dropdown-menu">
  <ul class="nav-top">
    <li class="nav-top__item"><a class="nav-top__link" href="/products.html">Продукция</a></li>
    <li class="nav-top__item"><a class="nav-top__link nav-top__link_company" href="/about-company.html">О компании</a></li>
    <li class="nav-top__item"><a class="nav-top__link" href="/patients.html">Пациентам</a></li>
    <li class="nav-top__item"><a class="nav-top__link" href="#">Магазин</a></li>
    <li class="nav-top__item"><a class="nav-top__link" href="#">Контакты</a></li>
    <li class="nav-top__item"><a class="nav-top__link" href="#">Кабинет</a></li>
    <li class="nav-top__item nav-top__item_icon"><a class="nav-top__link" href="#">
        <div class="basket-icon"> 
          <div class="nav-top__item_product-quantity-box">
            <p class="nav-top__item_quantity-number">99</p>
          </div>
        </div></a></li>
  </ul>
  <ul class="nav-bottom nav-active" id="product-nav">
    <li class="nav-bottom__item"><a class="nav-bottom__link" href="/classic.html">Classic</a></li>
    <li class="nav-bottom__item"><a class="nav-bottom__link" href="/solo.html">Solo</a></li>
    <li class="nav-bottom__item"><a class="nav-bottom__link" href="/soloplus.html">Soloplus</a></li>
    <li class="nav-bottom__item"><a class="nav-bottom__link" href="#">Ортопедия</a></li>
    <li class="nav-bottom__item"><a class="nav-bottom__link" href="#">Инструменты</a></li>
  </ul>
  <ul class="nav-bottom" id="company-nav">
    <li class="nav-bottom__item"><a class="nav-bottom__link nav-bottom__link_company" href="/about-company.html">О компании</a></li>
    <li class="nav-bottom__item"><a class="nav-bottom__link nav-bottom__link_company" href="/events.html">События</a></li>
    <li class="nav-bottom__item"><a class="nav-bottom__link nav-bottom__link_company" href="/publication.html">Публикации</a></li>
    <li class="nav-bottom__item"><a class="nav-bottom__link nav-bottom__link_company" href="/traning.html">Обучение</a></li>
    <li class="nav-bottom__item"><a class="nav-bottom__link nav-bottom__link_company" href="/branch.html">Представительства</a></li>
  </ul>
</div>