
<div class="counter">
  <div class="counter__first-num"></div>
  <div class="counter__slash"></div>
  <div class="counter__second-num"></div>
</div>
<div class="main-slider">
  <div class="slick-slide"> 
    <h3 class="h3 slick-slide_h3_margin_top">Как создавалась система Implife</h3><img class="slick-slide__photo" src="../img/chertov-min.png" alt=""/>
    <div class="slick-slider__sub-text-wrapper">
      <p class="slick-slide__sub-title">- Сергей Чертов</p>
      <p class="slick-slide__text">
        Разрабочик системы Implife
        Врач-хирург, кандидат медицинских наук, 
        Заведующий кафедры хирургической стоматологии
      </p><a class="more-button" href="#">Подробнее</a>
    </div>
  </div>
  <div class="slick-slide">   
    <h3 class="h3 slick-slide_h3_margin_top">Классические штифты для протезирования в Запорожье</h3><img class="slick-slide__photo" src="../img/implife-pack.png" alt=""/>
    <div class="slick-slider__sub-text-wrapper">
      <p class="slick-slide__text">Единая ортопедическая платформа для всех диаметров имплантатов и абатментов значительно упрощает работу со всей системой.</p><a class="more-button" href="#">Подробнее</a>
    </div>
  </div>
  <div class="slick-slide"> 
    <h3 class="h3 slick-slide_h3_margin_top">Новые штифты для протезирования уже в Одессе</h3>
    <div class="slick-slider__sub-text-wrapper"><a class="more-button" href="#">Подробнее</a></div>
  </div>
</div>