
<div class="main-container main-container_background_products">
  <div class="box">
    <div class="product-box"><img class="product-box__img" src="../img/SoloPlus_pic.png" alt=""/>
      <div class="product-box__text-box">
        <h2 class="h2">Solo & SoloPlus</h2>
        <p class="sub-text sub-text_margin_bottom">Одноэтапные имплантаты с наружным четырехгранником</p><a class="more-button" href="#">Подробнее</a>
      </div>
    </div>
  </div>
  <div class="box">   
    <div class="product-box"><img class="product-box__img" src="../img/Classic_pic.png" alt=""/>
      <div class="product-box__text-box">
        <h2 class="h2">Classic</h2>
        <p class="sub-text sub-text_margin_bottom">Двухэтапные имплантаты с наружным четырехгранником</p><a class="more-button" href="classic-page.html">Подробнее</a>
      </div>
    </div>
  </div>
</div>
<div class="main-container main-container_background_orthopedics">
  <div class="box">
    <h3 class="h3">Ортопедия</h3><a class="products-container__link_left_arrow" href="#">Все абатменты</a><a class="products-container__link_left_arrow" href="#">Прямые абатменты</a><a class="products-container__link_left_arrow" href="#">Угловые абатменты</a><a class="products-container__link_left_arrow" href="#">Эстетические абатменты</a><a class="products-container__link_left_arrow" href="#">Шаровидные абатменты для съемных протезов</a><a class="products-container__link_left_arrow" href="#">Абатменты для винтовой фиксации протезов</a><a class="products-container__link_left_arrow" href="#">Временные абатменты</a>
  </div>
</div>
<div class="main-container main-container_background_abatments"></div>