
<div class="main-container main-container_background_about-comp">
  <div class="box box_box-width-1200 box__wrapper box_flex-direction-col box_al-items-center">
    <h2 class="h2 h2_white-color h2_margin-bot-24">О компании</h2>
    <div class="box__small-white-line"></div>
    <p class="title-text">Cистема дентальных имплантатов ImpLife® ориентирована на профессиональные потребности стоматолога в достижении долгосрочного функционального и эстетического результата.</p>
  </div>
</div>
<div class="main-container">
  <div class="box box_box-width-1200 box__wrapper box__wrapper_flex-direction-col">
    <div class="about-comp">
      <div class="about-comp__box">
        <h2 class="h2 h2_margin-bot-24">Система ImpLife® предлагает:</h2>
        <p class="main-text main-text_margin-bot-10"><span class="main-text_bold">Имплантологу </span>  — свободу выбора ассортимента имплантатов для различных хирургических протоколов, превосходную первичную стабильность независимо от качества кости.</p>
        <p class="main-text main-text_margin-bot-10"><span class="main-text_bold">Ортопеду </span>  — свободу выбора вида протезирования в различных клинических ситуациях. Набор стандартных и индивидуальных ортопедических решений, позволяющих достигать высокую эффективность от проводимого лечения в каждом случае.</p>
        <p class="main-text main-text_margin-bot-10"> <span class="main-text_bold">Зубному технику </span>  — свободу выбора ортопедических компонентов, что позволит реализовать идеальный дизайн, функциональность и эстетику в соответствии с ожиданиями Вашего пациента.</p>
        <p class="main-text main-text_margin-bot-10">Единая платформа для всех диаметров имплантатов системы гарантирует успешную коммуникацию в цепочке «хирург-ортопед-зубной техник».</p>
      </div>
      <div class="about-comp__box about-comp__box_bottom-grey-line">
        <p class="main-text_bold">Наши изделия сочетают надежность, удобство применения с современными технологиями и клиническими исследованиями. Это объясняет их превосходные качества, эффективность и широкое признание. Свобода действий в имплантологии является лучшим решением для Ваших пациентов.</p>
        <div class="about-comp__black-line"></div>
        <p class="main-text">Критерием успеха стоматологической практики являются успешный результат лечения, благодарный пациент и удовлетворение от рабочего процесса. Мы разделяем Вашу ответственность перед пациентами и гарантируем высокий уровень сервиса. В случае форс-мажорных обстоятельств мы производим замену компонентов системы в кратчайшие сроки. Система дентальных имплантатов Implife® производится в соответствии с Системой управления качеством и требованиям стандарта BS EN ISO 9001:2000. Качество продукции подтверждено Министерством здравоохранения Украины (свидетельство №8204\2008). Модели имплантатов защищены патентами Украины № 25029, № 23299, № 27037, № 33592.</p>
      </div>
    </div>
  </div>
</div>
<div class="js-box-animation main-container main-container_overflow-visible main-container_background_about-comp-sub-bg main-container_height main-container_margin-bottom">
  <div class="box box_box-width-1200">
    <div class="red-rectangle">
      <h2 class="h2 h2_white-color h2_margin-bot-24">Миссия и ценности</h2>
      <p class="main-text main-text_color-white main-text_width-460">Мы улучшаем жизнь, предоставляя продукцию наивысшего качества. Наша цель — стать лучшей компанией Украины, достойной высочайшего доверия.</p>
    </div>
  </div>
</div>
<div class="main-container main-container_margin-bottom">
  <div class="box box_box-width-1200 box_flex-direction-col">
    <div class="mission-box__wrapper">
      <div class="js-box-animation mission-box mission-box__wrapper_col">
        <div class="mission-box__wrapper_row mission-box_margin-bottom-40">
          <p class="mission-box__number">01</p>
          <div class="mission-box__wrapper_col mission-box__wrapper_jus-cont-flex-end">
            <div class="box__small-grey-line"></div>
            <p class="mission-title-text">Позитивное отношение к клиентам</p>
          </div>
        </div>
        <p class="main-text">Мы думаем о наших клиентах и стремимся, как можно глубже понять их требования, предъявляемые к дентальной имплантации. Только ставя потребности потребителя во главу, мы сможем предложить наилучшие решения для успешной имплантации.            </p>
      </div>
      <div class="js-box-animation mission-box mission-box__wrapper_col">
        <div class="mission-box__wrapper_row mission-box_margin-bottom-40">
          <p class="mission-box__number">02</p>
          <div class="mission-box__wrapper_col mission-box__wrapper_jus-cont-flex-end">
            <div class="box__small-grey-line"></div>
            <p class="mission-title-text">Надежность и доверие к нашей компании</p>
          </div>
        </div>
        <p class="main-text">Мы думаем о наших клиентах и стремимся, как можно глубже понять их требования, предъявляемые к дентальной имплантации. Только ставя потребности потребителя во главу, мы сможем предложить наилучшие решения для успешной имплантации.</p>
      </div>
      <div class="js-box-animation mission-box mission-box__wrapper_col">
        <div class="mission-box__wrapper_row mission-box_margin-bottom-40">
          <p class="mission-box__number">03</p>
          <div class="mission-box__wrapper_col mission-box__wrapper_jus-cont-flex-end">
            <div class="box__small-grey-line"></div>
            <p class="mission-title-text">Безопастность и здоровье пациентов</p>
          </div>
        </div>
        <p class="main-text">Разрабатывая нашу продукцию, мы прикладываем большие усилия для обеспечения безопастности здоровья ваших пацентов. Мы следим за всеми инновациями в сфере дентальной имплантации, но используем технологии только проверенные временем и многочисленными испытаниями.</p>
      </div>
    </div>
    <div class="document-box">
      <h2 class="h2 h2_margin-bot-100">Документы</h2>
      <div class="document-box__wrapper">
        <div class="js-box-animation document-box document-box_width-20perc"><img class="document-box__img" src="../img/doc-1.png" alt=""/>
          <div class="box__small-grey-line"></div>
          <p class="document-sub-text">Свидетельство о государственной регистрации</p>
        </div>
        <div class="js-box-animation document-box document-box_width-20perc"><img class="document-box__img" src="../img/doc-2.png" alt=""/>
          <div class="box__small-grey-line"></div>
          <p class="document-sub-text">Патент на стоматологический имплантат</p>
        </div>
        <div class="js-box-animation document-box document-box_width-20perc"><img class="document-box__img" src="../img/doc-3.png" alt=""/>
          <div class="box__small-grey-line"></div>
          <p class="document-sub-text">Патент на одноэтапный стоматологический имплантат</p>
        </div>
        <div class="js-box-animation document-box document-box_width-20perc"><img class="document-box__img" src="../img/doc-4.png" alt=""/>
          <div class="box__small-grey-line"></div>
          <p class="document-sub-text">Патент на зубной имплантат</p>
        </div>
        <div class="js-box-animation document-box document-box_width-20perc"><img class="document-box__img" src="../img/doc-5.png" alt=""/>
          <div class="box__small-grey-line"></div>
          <p class="document-sub-text">Патент на стоматологический внутрикостный имплантат</p>
        </div>
        <div class="js-box-animation document-box document-box_width-20perc"><img class="document-box__img" src="../img/doc-6.png" alt=""/>
          <div class="box__small-grey-line"></div>
          <p class="document-sub-text">Патент на стоматологический внутрикостный одноэтапный имплантат</p>
        </div>
        <div class="js-box-animation document-box document-box_width-20perc"><img class="document-box__img" src="../img/doc-7.png" alt=""/>
          <div class="box__small-grey-line"></div>
          <p class="document-sub-text">Патент на временный абатмент для двухэтапного внутрикостного имплантата Classic</p>
        </div>
        <div class="js-box-animation document-box document-box_width-20perc"><img class="document-box__img" src="../img/doc-8.png" alt=""/>
          <div class="box__small-grey-line"></div>
          <p class="document-sub-text">Патент на формирователь десны для двухэтапного внутрикостного имплантата Classic</p>
        </div>
      </div>
    </div>
  </div>
</div>