
<div class="main-container main-container_background_branch-bg">
  <div class="box box_box-width-1200 box__wrapper box_flex-direction-col box_al-items-center">
    <h2 class="h2 h2_white-color h2_margin-bot-24">Представительства</h2>
    <div class="box__small-white-line"></div>
    <p class="title-text">Хотите стать нашим партнером в своем городе или области ? Подайте заявку и наш представитель свяжется с вами втечении нескольких минут</p>
  </div>
</div>
<div class="main-container">   
  <div class="branch-box__wrapper">
    <div class="branch-box">
      <div class="branch-box__city-cymbol"><img class="branch-box__picture" src="../img/cymbol-zp.png" alt=""/></div>
      <p class="branch-box__city">г. Запорожье</p>
      <div class="branch-box__black-line"></div>
      <p class="branch-box__clinic-name">«Стоматологическая клиника Сергея Чертова»</p>
      <p class="branch-box__doc-name">— к.м.н. Чертов Сергей Александрович</p>
      <p class="branch-box__phone">(061) 222 25 29 </p>
      <p class="branch-box__phone">050 454 63 73                </p>
    </div>
    <div class="branch-box">
      <div class="branch-box__city-cymbol"><img class="branch-box__picture" src="../img/cymbol-che.png" alt=""/></div>
      <p class="branch-box__city">г. Черкассы</p>
      <div class="branch-box__black-line"></div>
      <p class="branch-box__clinic-name">Частная клиника «Братья Лепские»</p>
      <p class="branch-box__doc-name">— Рак Константин Иванович</p>
      <p class="branch-box__phone">(047) 254 19 31 </p>
      <p class="branch-box__phone">067 470 23 13               </p>
    </div>
    <div class="branch-box">
      <div class="branch-box__city-cymbol"><img class="branch-box__picture" src="../img/cymbol-polt.png" alt=""/></div>
      <p class="branch-box__city">г. Полтава</p>
      <div class="branch-box__black-line"></div>
      <p class="branch-box__clinic-name">Клиника «Импластика»</p>
      <p class="branch-box__doc-name">— д.м.н. Король Дмитрий Михайлович</p>
      <p class="branch-box__phone">(0532) 606 809 </p>
      <p class="branch-box__phone">066 093 25 96               </p>
    </div>
    <div class="branch-box">
      <div class="branch-box__city-cymbol"><img class="branch-box__picture" src="../img/cymbol-if.png" alt=""/></div>
      <p class="branch-box__city">г. Ивано-Франковск</p>
      <div class="branch-box__black-line"></div>
      <p class="branch-box__clinic-name">«Клиника современной стоматологии и имплантации»</p>
      <p class="branch-box__doc-name">— Семеген Виктор Мирославович</p>
      <p class="branch-box__phone">(034) 250 90 71</p>
      <p class="branch-box__phone">098 970 17 09                </p>
    </div>
    <div class="branch-box">
      <div class="branch-box__city-cymbol"><img class="branch-box__picture" src="../img/cymbol-kherson.png" alt=""/></div>
      <p class="branch-box__city">г. Херсон</p>
      <div class="branch-box__black-line"></div>
      <p class="branch-box__doc-name">— к.м.н. Чертов Сергей Александрович</p>
      <p class="branch-box__phone">050 149 23 93</p>
    </div>
    <div class="branch-box">
      <div class="branch-box__city-cymbol"><img class="branch-box__picture" src="../img/cymbol-ode.png" alt=""/></div>
      <p class="branch-box__city">г. Одесса</p>
      <div class="branch-box__black-line"></div>
      <p class="branch-box__doc-name">— к.м.н. Лунгу Валерий Иванович </p>
      <p class="branch-box__phone">067 483 99 90</p>
    </div>
  </div>
</div>