
<div class="list-content list-content_instruments-width">
  <div class="list-content-box">
    <div class="cataloge-box instruments-box">
      <div class="instruments-box__left-side">
        <div class="instruments-box__wrapper">
          <div class="instruments-box__main-pic"><img class="cataloge-box__image instruments-box_image-width" src="../../img/instuments-drill-2mm.png" alt=""/></div>
        </div>
        <div class="cataloge-box__product-info">
          <div class="cataloge-box__product-name-box">
            <p class="cataloge-box__product-name">SAF-15</p>
          </div>
          <div class="cataloge-box__product-description">
            <div class="cataloge-box__description-wrapper">
              <p class="cataloge-box__description-name">Эстетический абатмент</p>
            </div>
            <div class="cataloge-box__description-wrapper">
              <p class="cataloge-box__description-name">Цена:</p>
              <p class="cataloge-box__description-value cataloge-box__description-value_price">850</p>
              <p class="cataloge-box__hrn-cymbol">₴</p>
            </div>
          </div>
          <div class="cataloge-box__price-box">
            <div class="cataloge-box__quantity-box">
              <p class="cataloge-box__quantity-text">Количество</p>
              <div class="cataloge-box__quantity-wrapper">
                <button class="cataloge-box__quantity-button cataloge-box__quantity-button_minus">-</button>
                <p class="cataloge-box__numeric">0</p>
                <button class="cataloge-box__quantity-button cataloge-box__quantity-button_plus">+</button>
              </div>
            </div>
            <div class="cataloge-box__buy-box">               
              <div class="cataloge-box__buy-box-wrapper">
                <p class="cataloge-box__total-summ-text">Итого:</p>
                <div class="cataloge-box__total-summ-wrapper">
                  <p class="cataloge-box__total-summ-numeric cataloge-box__total-summ-numeric_result">0 </p>
                  <p class="cataloge-box__total-summ-numeric cataloge-box__total-summ-numeric_cymbol">₴</p>
                </div>
              </div>
              <div class="cataloge-box__buy-button">В корзину</div>
            </div>
          </div>
        </div>
      </div>
      <div class="instruments-box__right-side">
        <h3 class="instruments-box__headling-h3">Сверла</h3>
        <div class="instruments-box__instruments-box-wrapper instruments-box__instruments-box-wrapper_margin-bot-60">
          <div class="instruments-box instruments-box_direction-column">
            <div class="instruments-box__sub-headling-wrapper">
              <div class="instruments-box__sub-headling-line"></div>
            </div>
            <div class="instruments-box__item-wrapper"> 
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-2mm.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Ø 2 мм</p>
                <p class="instruments-box__small-instruments-name">Пилотное сверло </p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-27mm.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Ø 2.7 мм</p>
                <p class="instruments-box__small-instruments-name">Коническое сверло</p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-32mm.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Ø 3.2 мм </p>
                <p class="instruments-box__small-instruments-name">Коническое сверло </p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-37mm.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Ø 3.7 мм</p>
                <p class="instruments-box__small-instruments-name">Коническое сверло</p>
              </div>
            </div>
            <div class="instruments-box__item-wrapper"> 
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-45mm.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Ø 4.5 мм</p>
                <p class="instruments-box__small-instruments-name">Пилотное сверло </p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-32-35-38mm.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Ø 3.2/3.5/3.8 мм</p>
                <p class="instruments-box__small-instruments-name">Коническое сверло</p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-40-47mm.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Ø 4.0-4.7 мм </p>
                <p class="instruments-box__small-instruments-name">Коническое сверло </p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-extention.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Удлинитель сверла</p>
              </div>
            </div>
          </div>
        </div>
        <h3 class="instruments-box__headling-h3">Ключи</h3>
        <div class="instruments-box__instruments-box-wrapper instruments-box__instruments-box-wrapper_margin-bot-60">
          <div class="instruments-box instruments-box_direction-column">
            <div class="instruments-box__sub-headling-wrapper">
              <div class="instruments-box__sub-headling-line"></div>
            </div>
            <div class="instruments-box__key-item-wrapper"> 
              <div class="instruments-box__key-item">
                <div class="instruments-box__keys-pic"><img class="instruments-box__keys-img" src="../../../img/clef.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Динамометрический ключ </p>
              </div>
              <div class="instruments-box__key-item">
                <div class="instruments-box__keys-pic"><img class="instruments-box__keys-img" src="../../../img/clef-dynamometric.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Трещотка</p>
              </div>
            </div>
          </div>
        </div>
        <h3 class="instruments-box__headling-h3">Имплантовводы и отвертки</h3>
        <div class="instruments-box__instruments-box-wrapper instruments-box__instruments-box-wrapper_margin-bot-60">
          <div class="instruments-box instruments-box_direction-column">
            <div class="instruments-box__sub-headling-wrapper">
              <div class="instruments-box__sub-headling-line"></div>
            </div>
            <div class="instruments-box__item-wrapper"> 
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-in-solo.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Имплантоввод для имплантатов Solo и SoloPlus </p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-in-classic.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Имплантоввод для имплантатов Classic</p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-in-classic-vint.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Имплантоввод с винтом для имплантатов Classic</p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-in-classic-machine.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Имплантоввод машинный для имплантатов Classic</p>
              </div>
            </div>
            <div class="instruments-box__item-wrapper instruments-box__item-wrapper_jc-flex-start"> 
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-in-vint.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Отвертка машинная шестигранная</p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-in-vint-hand.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Отвертка ручная шестигранная</p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-in-vint-for-clef.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Ключ-отвертка</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-content-box">
    <div class="cataloge-box instruments-box">
      <div class="instruments-box__left-side">
        <div class="instruments-box__wrapper">
          <div class="instruments-box__main-pic"><img class="cataloge-box__image instruments-box_image-width" src="../../img/instuments-drill-2mm.png" alt=""/></div>
        </div>
        <div class="cataloge-box__product-info">
          <div class="cataloge-box__product-name-box">
            <p class="cataloge-box__product-name">SAF-15</p>
          </div>
          <div class="cataloge-box__product-description">
            <div class="cataloge-box__description-wrapper">
              <p class="cataloge-box__description-name">Эстетический абатмент</p>
            </div>
            <div class="cataloge-box__description-wrapper">
              <p class="cataloge-box__description-name">Цена:</p>
              <p class="cataloge-box__description-value cataloge-box__description-value_price">850</p>
              <p class="cataloge-box__hrn-cymbol">₴</p>
            </div>
          </div>
          <div class="cataloge-box__price-box">
            <div class="cataloge-box__quantity-box">
              <p class="cataloge-box__quantity-text">Количество</p>
              <div class="cataloge-box__quantity-wrapper">
                <button class="cataloge-box__quantity-button cataloge-box__quantity-button_minus">-</button>
                <p class="cataloge-box__numeric">0</p>
                <button class="cataloge-box__quantity-button cataloge-box__quantity-button_plus">+</button>
              </div>
            </div>
            <div class="cataloge-box__buy-box">               
              <div class="cataloge-box__buy-box-wrapper">
                <p class="cataloge-box__total-summ-text">Итого:</p>
                <div class="cataloge-box__total-summ-wrapper">
                  <p class="cataloge-box__total-summ-numeric cataloge-box__total-summ-numeric_result">0 </p>
                  <p class="cataloge-box__total-summ-numeric cataloge-box__total-summ-numeric_cymbol">₴</p>
                </div>
              </div>
              <div class="cataloge-box__buy-button">В корзину</div>
            </div>
          </div>
        </div>
      </div>
      <div class="instruments-box__right-side">
        <h3 class="instruments-box__headling-h3">Сверла</h3>
        <div class="instruments-box__instruments-box-wrapper instruments-box__instruments-box-wrapper_margin-bot-60">
          <div class="instruments-box instruments-box_direction-column">
            <div class="instruments-box__sub-headling-wrapper">
              <div class="instruments-box__sub-headling-line"></div>
            </div>
            <div class="instruments-box__item-wrapper"> 
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-2mm.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Ø 2 мм</p>
                <p class="instruments-box__small-instruments-name">Пилотное сверло </p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-27mm.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Ø 2.7 мм</p>
                <p class="instruments-box__small-instruments-name">Коническое сверло</p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-32mm.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Ø 3.2 мм </p>
                <p class="instruments-box__small-instruments-name">Коническое сверло </p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-37mm.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Ø 3.7 мм</p>
                <p class="instruments-box__small-instruments-name">Коническое сверло</p>
              </div>
            </div>
            <div class="instruments-box__item-wrapper"> 
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-45mm.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Ø 4.5 мм</p>
                <p class="instruments-box__small-instruments-name">Пилотное сверло </p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-32-35-38mm.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Ø 3.2/3.5/3.8 мм</p>
                <p class="instruments-box__small-instruments-name">Коническое сверло</p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-40-47mm.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Ø 4.0-4.7 мм </p>
                <p class="instruments-box__small-instruments-name">Коническое сверло </p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-extention.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Удлинитель сверла</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-content-box">
    <div class="cataloge-box instruments-box">
      <div class="instruments-box__left-side">
        <div class="instruments-box__wrapper">
          <div class="instruments-box__main-pic"><img class="cataloge-box__image instruments-box_image-width" src="../../img/clef.png" alt=""/></div>
        </div>
        <div class="cataloge-box__product-info">
          <div class="cataloge-box__product-name-box">
            <p class="cataloge-box__product-name">SAF-15</p>
          </div>
          <div class="cataloge-box__product-description">
            <div class="cataloge-box__description-wrapper">
              <p class="cataloge-box__description-name">Эстетический абатмент</p>
            </div>
            <div class="cataloge-box__description-wrapper">
              <p class="cataloge-box__description-name">Цена:</p>
              <p class="cataloge-box__description-value cataloge-box__description-value_price">850</p>
              <p class="cataloge-box__hrn-cymbol">₴</p>
            </div>
          </div>
          <div class="cataloge-box__price-box">
            <div class="cataloge-box__quantity-box">
              <p class="cataloge-box__quantity-text">Количество</p>
              <div class="cataloge-box__quantity-wrapper">
                <button class="cataloge-box__quantity-button cataloge-box__quantity-button_minus">-</button>
                <p class="cataloge-box__numeric">0</p>
                <button class="cataloge-box__quantity-button cataloge-box__quantity-button_plus">+</button>
              </div>
            </div>
            <div class="cataloge-box__buy-box">               
              <div class="cataloge-box__buy-box-wrapper">
                <p class="cataloge-box__total-summ-text">Итого:</p>
                <div class="cataloge-box__total-summ-wrapper">
                  <p class="cataloge-box__total-summ-numeric cataloge-box__total-summ-numeric_result">0 </p>
                  <p class="cataloge-box__total-summ-numeric cataloge-box__total-summ-numeric_cymbol">₴</p>
                </div>
              </div>
              <div class="cataloge-box__buy-button">В корзину</div>
            </div>
          </div>
        </div>
      </div>
      <div class="instruments-box__right-side">
        <h3 class="instruments-box__headling-h3">Ключи</h3>
        <div class="instruments-box__instruments-box-wrapper instruments-box__instruments-box-wrapper_margin-bot-60">
          <div class="instruments-box instruments-box_direction-column">
            <div class="instruments-box__sub-headling-wrapper">
              <div class="instruments-box__sub-headling-line"></div>
            </div>
            <div class="instruments-box__key-item-wrapper"> 
              <div class="instruments-box__key-item">
                <div class="instruments-box__keys-pic"><img class="instruments-box__keys-img" src="../../../img/clef.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Динамометрический ключ </p>
              </div>
              <div class="instruments-box__key-item">
                <div class="instruments-box__keys-pic"><img class="instruments-box__keys-img" src="../../../img/clef-dynamometric.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Трещотка</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-content-box">
    <div class="cataloge-box instruments-box">
      <div class="instruments-box__left-side">
        <div class="instruments-box__wrapper">
          <div class="instruments-box__main-pic"><img class="cataloge-box__image instruments-box_image-width" src="../../img/instuments-in-solo.png" alt=""/></div>
        </div>
        <div class="cataloge-box__product-info">
          <div class="cataloge-box__product-name-box">
            <p class="cataloge-box__product-name">SAF-15</p>
          </div>
          <div class="cataloge-box__product-description">
            <div class="cataloge-box__description-wrapper">
              <p class="cataloge-box__description-name">Эстетический абатмент</p>
            </div>
            <div class="cataloge-box__description-wrapper">
              <p class="cataloge-box__description-name">Цена:</p>
              <p class="cataloge-box__description-value cataloge-box__description-value_price">850</p>
              <p class="cataloge-box__hrn-cymbol">₴</p>
            </div>
          </div>
          <div class="cataloge-box__price-box">
            <div class="cataloge-box__quantity-box">
              <p class="cataloge-box__quantity-text">Количество</p>
              <div class="cataloge-box__quantity-wrapper">
                <button class="cataloge-box__quantity-button cataloge-box__quantity-button_minus">-</button>
                <p class="cataloge-box__numeric">0</p>
                <button class="cataloge-box__quantity-button cataloge-box__quantity-button_plus">+</button>
              </div>
            </div>
            <div class="cataloge-box__buy-box">               
              <div class="cataloge-box__buy-box-wrapper">
                <p class="cataloge-box__total-summ-text">Итого:</p>
                <div class="cataloge-box__total-summ-wrapper">
                  <p class="cataloge-box__total-summ-numeric cataloge-box__total-summ-numeric_result">0 </p>
                  <p class="cataloge-box__total-summ-numeric cataloge-box__total-summ-numeric_cymbol">₴</p>
                </div>
              </div>
              <div class="cataloge-box__buy-button">В корзину</div>
            </div>
          </div>
        </div>
      </div>
      <div class="instruments-box__right-side">
        <h3 class="instruments-box__headling-h3">Имплантовводы и отвертки</h3>
        <div class="instruments-box__instruments-box-wrapper instruments-box__instruments-box-wrapper_margin-bot-60">
          <div class="instruments-box instruments-box_direction-column">
            <div class="instruments-box__sub-headling-wrapper">
              <div class="instruments-box__sub-headling-line"></div>
            </div>
            <div class="instruments-box__item-wrapper"> 
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-in-solo.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Имплантоввод для имплантатов Solo и SoloPlus </p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-in-classic.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Имплантоввод для имплантатов Classic</p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-in-classic-vint.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Имплантоввод с винтом для имплантатов Classic</p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-in-classic-machine.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Имплантоввод машинный для имплантатов Classic</p>
              </div>
            </div>
            <div class="instruments-box__item-wrapper instruments-box__item-wrapper_jc-flex-start"> 
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-in-vint.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Отвертка машинная шестигранная</p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-in-vint-hand.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Отвертка ручная шестигранная</p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-in-vint-for-clef.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Ключ-отвертка</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-content-box">
    <div class="cataloge-box instruments-box">
      <div class="instruments-box__left-side instruments-box_surgical-set">
        <div class="instruments-box__wrapper">
          <div class="instruments-box__main-pic instruments-box_surgical-main-pic"><img class="cataloge-box__image instruments-box_surgical-image-width" src="../../img/tools_set.png" alt=""/></div>
        </div>
        <div class="cataloge-box__product-info cataloge-box__product-info_align-center">
          <div class="cataloge-box__price-box">
            <div class="cataloge-box__quantity-box">
              <p class="cataloge-box__quantity-text">Количество</p>
              <div class="cataloge-box__quantity-wrapper">
                <button class="cataloge-box__quantity-button cataloge-box__quantity-button_minus">-</button>
                <p class="cataloge-box__numeric">0</p>
                <button class="cataloge-box__quantity-button cataloge-box__quantity-button_plus">+</button>
              </div>
            </div>
            <div class="cataloge-box__buy-box">               
              <div class="cataloge-box__buy-box-wrapper">
                <p class="cataloge-box__total-summ-text">Итого:</p>
                <div class="cataloge-box__total-summ-wrapper">
                  <p class="cataloge-box__total-summ-numeric cataloge-box__total-summ-numeric_result">0 </p>
                  <p class="cataloge-box__total-summ-numeric cataloge-box__total-summ-numeric_cymbol">₴</p>
                </div>
              </div>
              <div class="cataloge-box__buy-button">В корзину</div>
            </div>
          </div>
        </div>
      </div>
      <div class="instruments-box__right-side">
        <h3 class="instruments-box__headling-h3">Хирургический набор</h3>
        <div class="instruments-box__instruments-box-wrapper instruments-box__instruments-box-wrapper_margin-bot-60">
          <div class="instruments-box instruments-box_direction-column js-surgical-box">
            <div class="instruments-box__sub-headling-wrapper">
              <div class="instruments-box__sub-headling-line"></div>
            </div>
            <div class="instruments-box__key-item-wrapper"> 
              <p class="main-text main-text_margin-bot-40">Компактный и удобный набор содержит оптимальное количество инструментов для работы с одно- и двухэтапными имплантатами на хирургическом и ортопедическом этапах.<br/>Бокс изготовлен из нержавеющей стали предназначен для хранения и стерилизации инструмента. Может подвергаться термической стерилизации не выше 134 С°.<br/>В хирургический набор входит:</p>
            </div>
            <div class="instruments-box__item-wrapper"> 
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-2mm.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Ø 2 мм</p>
                <p class="instruments-box__small-instruments-name">Пилотное сверло </p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-27mm.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Ø 2.7 мм</p>
                <p class="instruments-box__small-instruments-name">Коническое сверло</p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-32mm.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Ø 3.2 мм </p>
                <p class="instruments-box__small-instruments-name">Коническое сверло </p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-37mm.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Ø 3.7 мм</p>
                <p class="instruments-box__small-instruments-name">Коническое сверло</p>
              </div>
            </div>
            <div class="instruments-box__item-wrapper"> 
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-45mm.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Ø 4.5 мм</p>
                <p class="instruments-box__small-instruments-name">Пилотное сверло </p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-32-35-38mm.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Ø 3.2/3.5/3.8 мм</p>
                <p class="instruments-box__small-instruments-name">Коническое сверло</p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-40-47mm.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Ø 4.0-4.7 мм </p>
                <p class="instruments-box__small-instruments-name">Коническое сверло </p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-drill-extention.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Удлинитель сверла</p>
              </div>
            </div>
            <div class="instruments-box__item-wrapper"> 
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-in-solo.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Имплантоввод для имплантатов Solo и SoloPlus </p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-in-classic.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Имплантоввод для имплантатов Classic</p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-in-classic-vint.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Имплантоввод с винтом для имплантатов Classic</p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-in-classic-machine.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Имплантоввод машинный для имплантатов Classic</p>
              </div>
            </div>
            <div class="instruments-box__item-wrapper instruments-box__item-wrapper_jc-flex-start"> 
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-in-vint.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Отвертка машинная шестигранная</p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-in-vint-hand.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Отвертка ручная шестигранная</p>
              </div>
              <div class="instruments-box__item">
                <div class="instruments-box__instruments-pic"><img class="instruments-box__instruments-img" src="../../../img/instuments-in-vint-for-clef.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Ключ-отвертка</p>
              </div>
            </div>
            <div class="instruments-box__key-item-wrapper">
              <div class="instruments-box__key-item">
                <div class="instruments-box__keys-pic"><img class="instruments-box__keys-img" src="../../../img/clef-dynamometric.png" alt=""/></div>
                <p class="instruments-box__small-instruments-name">Трещотка</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>